@import "./__mixins.scss";

:root, html, body {
  min-height: 100%;
}

* {
  font-family: Garnett, sans-serif;
}

h1, .h1 {
  @include font-h1;
}

h2, .h2 {
  @include font-h2;
}

h3, .h3 {
  @include font-h3;
}

h4, .h4 {
  @include font-h4;
}

h5, .h5 {
  @include font-h5;
}

a {
  font-style: normal;
  text-decoration: none;
  &:hover {
    text-decoration: underline;
  }
}

b, strong {
  font-weight: $font-weight-semibold;
  letter-spacing: 0.16px;
}

main.page {
  padding-top: $header-height + $menu-height + $page-top-padding;
  min-height: calc( 100vh - #{$header-height + $menu-height + $page-top-padding});
}

/**
 ** content modules defaults
 **/

[data-section] {
  color: $color-red;
  border-color: $color-red;
  .embedded_preview_container & {
    * { color: $color-red;}
  }  
}

[data-section="buehne"] {
  color: $color-black;
  border-color: $color-black;
  .embedded_preview_container & {
    * { color: $color-black;}
  }
}

[data-section="festival"] {
  color: $color-green;
  border-color: $color-green;
  .embedded_preview_container & {
    * { color: $color-green; }
  }
}

[data-section="anthropausing"] {
  color: $color-violet;
  border-color: $color-violet;
  .embedded_preview_container & {
    * { color: $color-violet; }
  }
}

[class^="module__"] {
  margin-bottom: 100px;
  &[data-border-bottom] {
    &[data-border-bottom="l"] { margin-bottom: 150px; }
    &[data-border-bottom="m"] { margin-bottom: 100px; }
    &[data-border-bottom="s"] { margin-bottom: 20px; }
  }

  @include breakpoint('s') {
    margin-bottom: 50px;
    &[data-border-bottom] {
      &[data-border-bottom="l"] { margin-bottom: 100px; }
      &[data-border-bottom="m"] { margin-bottom: 50px; }
      &[data-border-bottom="s"] { margin-bottom: 20px; }
    }    
  }
}

/**
 ** buttons
 **/

.button {
  @include font-button;
  border-width: 1px;
  border-style: solid;
  display: inline-block;
  align-self: flex-start;
  color: currentColor;
  border-color: currentColor;
  border-radius: 7px;
  padding: 4px 11px 4px 12px;
  position: relative;
  white-space: nowrap;
  background-color: transparent;

  input[type="submit"] {
    position: absolute;
    left: 0;
    top:0;
    right:0;
    bottom:0;
    width:100%;
    margin:0;
    padding:0;
    color: transparent;
    background-color: transparent;
    border: none;
    z-index: 10;
  }

  &:hover {
    background-color:currentColor;
    &:after {
      content: attr(title);
      color: white;
      position: absolute;
      left: 12px;
      top: 4px;
    }
  }
}

.downloads .button.pdf,
.downloads.button.pdf {
  padding-left: 2.4em;
  background-image: url("~svgs/PDF-Icon-black.svg");
  background-repeat: no-repeat;
  background-position: -1em 50%;
  background-size: 4em;
  &:hover {
    background-image: url("~svgs/PDF-Icon-white.svg") !important;
      &:after {
      left: calc(2.4em);
    }
  }
}

[data-section="schule"] .downloads .button.pdf,
  [data-section="schule"] .downloads.button.pdf {
  background-image: url("~svgs/PDF-Icon-red.svg");
}
