@import "./__variables.scss";
@import "./__mixins.scss";

:root, html, body {
  min-height: 100%;
}

* {
  font-family: Garnett, sans-serif;
}

h1, .h1 {
  @include font-h1;
}

h2, .h2 {
  @include font-h2;
}

h3, .h3 {
  @include font-h3;
}

h4, .h4 {
  @include font-h4;
}

h5, .h5 {
  @include font-h5;
}

a {
  font-style: normal;
  text-decoration: none;
  &:hover {
    text-decoration: underline;
  }
}



.horizontal_bar_container {

  @include flex-row;
  @include font-stripes;

  .horizontal_bar_left {
    @include flex-row-item(6,12);
  }

  .horizontal_bar_center {
    @include flex-row-item(3,12);
  }

  .horizontal_bar_right {
    @include flex-row-item(3,12, false);
    display: flex;
    justify-content: flex-end;
  }
}

header {
  position: fixed;
  top:0;
  z-index: 11;
  background-color: white;
  body.featured_visible & {
    background-color: transparent;
  }
  body.featured_visible[data-section="buehne"] & {
    color: white;
  }  
  transition: background-color 0.2s;
  //overflow: hidden;

  height: $header-height;
  box-sizing: border-box;

  padding-top: 12px;
  padding-bottom: 12px;

  @include page-dist("padding-left", "left");
  @include page-dist("padding-right", "right");

  img {
    height: $header-height-logo;
  }

}

main.page {
  padding-top: $header-height + $menu-height + $page-top-padding;
}

/**
 ** content modules defaults
 **/

[data-section] {
  color: $color-red;
  border-color: $color-red;
  .embedded_preview_container & {
    * { color: $color-red;}
  }  
}

[data-section="buehne"] {
  color: $color-black;
  border-color: $color-black;
  .embedded_preview_container & {
    * { color: $color-black;}
  }
}

[data-section="festival"] {
  color: $color-green;
  border-color: $color-green;
  .embedded_preview_container & {
    * { color: $color-green; }
  }
}

[class^="module__"] {
  margin-bottom: 150px;
}

/**
 ** buttons
 **/

.button {
  @include font-button;
  border: 1px solid;
  display: inline-block;
  border-radius: 7px;
  padding: 4px 11px 4px 12px;
  position: relative;

  &:hover {
    background-color:currentColor;
    &:after {
      content: attr(title);
      color: white;
      position: absolute;
      left: 12px;
      top: 4px;
    }
  }
}

.downloads .button.pdf {
  padding-left: 2.4em;
  background-image: url("/images/PDF-Icon-black.svg");
  background-repeat: no-repeat;
  background-position: -1em 50%;
  background-size: 4em;
  &:hover {
    background-image: url("/images/PDF-Icon-white.svg") !important;
      &:after {
      left: calc(2.4em);
    }
  }
}

[data-section="schule"] .downloads .button.pdf {
  background-image: url("/images/PDF-Icon-red.svg");
}

/**
 ** drawer
 **/

details.drawer {
    @include page-dist("margin-left", "left");
    @include page-dist("margin-right", "right");

    * {
      @include font-title;
    }

    summary::marker {
      color: transparent;
      padding:0;margin:0;width:0;
      content: "";
    }

    summary::-webkit-details-marker {
      visibility: hidden;
      padding:0;margin:0;width:0;
      content: "";
    }

    summary {
      cursor: pointer;
      outline: none;
      background: transparent url("/images/TAFA20/TAFA20-Webseite_Pfeil-unten_red.svg") no-repeat 100% 50%;
      background-size: 40px 40px;   
    }
    &[open] summary {
      background: transparent url("/images/TAFA20/TAFA20-Webseite_Pfeil-oben_red.svg") no-repeat 100% 50%;
      background-size: 40px 40px;   
    }   

    summary + ol, summary + ul {
      padding:0 !important;
      transition: all 1s;
      user-select: none;
    }
    &[open] summary + ol, &[open] summary + ul {
    }    

    summary, li {
      padding: 12px 0;
      border-bottom-width: 1px;
      border-bottom-style: solid;
    }
  
}
