@import "./__variables.scss";

@mixin font-h1 {
  font-size: 150px;
  line-height: 140px;
  font-weight: $font-weight-medium;
  font-style: italic;
  color: $color-red;
}

@mixin font-h2 {
  font-size: 72px;
  line-height: 72px;
  font-weight: $font-weight-medium;
  font-style: italic;
  color: $color-red;
}

@mixin font-h3 {
  font-size: 48px;
  line-height: 52px;
  font-weight: $font-weight-medium;
  font-style: italic;
  color: $color-red;
}

@mixin font-h4 {
  font-size: 28px;
  line-height: 28px;
  font-weight: $font-weight-medium;
  font-style: italic;
  text-transform: uppercase;
  color: $color-red;
}

@mixin font-h5 {
  font-size: 22px;
  line-height: 28px;
  font-weight: $font-weight-medium;
  font-style: italic;
  text-transform: uppercase;
  color: $color-red;
}

@mixin font-kalender-h1 {
  font-size: 32px;
  line-height: 48px;
  font-weight: $font-weight-medium;
  color: $color-red;
}

@mixin font-pullquote {
  font-size: 32px;
  line-height: 44px;
  font-weight: $font-weight-regular;
  letter-spacing: -0.32px;
  color: $color-red;
}

@mixin font-menüpunkte {
  font-size: 28px;
  line-height:17px;
  font-weight: $font-weight-medium;
  color: $color-red;
}

@mixin font-menü-unterpunkte {
  font-size: 20px;
  line-height: 28px;
  font-weight: $font-weight-regular;
  color: $color-red;
}

@mixin font-titel {
  font-size: 28px;
  line-height: 17px;
  font-weight: $font-weight-medium;
  color: $color-red;
}

@mixin font-fliesstext-l {
  font-size: 22px;
  line-height: 28px;
  font-weight: $font-weight-medium;
  color: $color-red;
}

@mixin font-fliesstext-m {
  font-size: 18px;
  line-height: 26px;
  font-weight: $font-weight-medium;
  color: $color-red;
}

@mixin font-fliesstext-s {
  font-size: 14px;
  line-height: 20px;
  font-weight: $font-weight-medium;
  color: $color-red;
}

@mixin font-tanzklassen { 
  font-size: 16px;
  line-height: 18px;
  font-weight: $font-weight-semibold; // should this be special eps51 font or not?
  letter-spacing: 0.16px;
  text-transform: uppercase;
  color: $color-red;
}

@mixin font-menu-quicklinks {
  font-size: 16px;
  line-height: 20px;
  font-weight: $font-weight-semibold;
  letter-spacing: 0.16px;
  text-decoration: underline;
  text-transform: uppercase;
  color: $color-red;
}

@mixin font-stripes {
  font-size: 16px;
  line-height: 16px;
  font-weight: $font-weight-semibold;
  letter-spacing: 0.16px;
  text-transform: uppercase;
  color: $color-red;
}

@mixin font-stripes-infos {
  font-size: 16px;
  line-height: 16px;
  font-weight: $font-weight-semibold;
  letter-spacing: 0.16px;
  text-transform: uppercase;
  color: $color-red;
}