@import "./__variables.scss";
@use "sass:map";

/* --------------------------------------------------
   Font Style Mixins
   -------------------------------------------------- */

@mixin font-h1($bottom-adjust: false) {
  font-size: 150px;
  line-height: 140px;
  @if ($bottom-adjust) {
    position: relative;
    bottom: -9px;
  }
  @include breakpoint('s') {
    font-size: 72px;
    line-height: 73px;
    @if ($bottom-adjust) {
      position: relative;
      bottom: -4px;
    }    
  }
  font-weight: $font-weight-medium;
  font-style: italic;
}

@mixin font-h2 {
  font-size: 72px;
  line-height: 72px;
  @include breakpoint('s') {
    font-size: 48px;
    line-height: 50px;
  }
  font-weight: $font-weight-medium;
  font-style: italic;
}

@mixin font-h3 {
  font-size: 48px;
  line-height: 52px;
  @include breakpoint('s') {
    font-size: 36px;
    line-height: 48px;
  }
  font-weight: $font-weight-medium;
  font-style: italic;
  .embedded_preview_container & {
    font-size: 48px !important;
    line-height: 52px !important;
  }
}

@mixin font-h4 {
  font-size: 28px;
  line-height: 28px;
  @include breakpoint('s') {
    font-size: 26px;
    line-height: 28px;
  }  
  font-weight: $font-weight-medium;
  font-style: italic;
  text-transform: uppercase;
}

@mixin font-h5 {
  font-size: 22px;
  line-height: 28px;
  @include breakpoint('s') {
    font-size: 20px;
    line-height: 24px;
  }    
  font-weight: $font-weight-medium;
  font-style: italic;
  text-transform: uppercase;
}

@mixin font-kalender-h1 {
  font-size: 32px;
  line-height: 48px;
  @include breakpoint('s') {
    font-size: 26px;
    line-height: 26px;
  }      
  font-weight: $font-weight-medium;
}

@mixin font-pullquote {
  font-size: 32px;
  line-height: 44px;
  @include breakpoint('s') {
    font-size: 20px;
    line-height: 27px;
  }    
  font-weight: $font-weight-regular;
  letter-spacing: -0.32px;
}

@mixin font-menüpunkte {
  font-size: 28px;
  line-height:17px;
  @include breakpoint('s') {
    font-size: 28px;
    line-height: 34px;
  }        
  font-weight: $font-weight-medium;
}

@mixin font-menü-unterpunkte {
  font-size: 20px;
  line-height: 28px;
  @include breakpoint('s') {
    font-size: 20px;
    line-height: 20px;
  }        
  font-weight: $font-weight-regular;
}

@mixin font-title {
  font-size: 28px;
  line-height: 32px;
  @include breakpoint('s') {
    font-size: 18px;
    line-height: 22px;
  }        
  font-weight: $font-weight-medium;
}

@mixin font-fliesstext-l {
  font-size: 22px;
  line-height: 28px;
  @include breakpoint('s') {
    font-size: 16px;
    line-height: 24px;
  }        
  font-weight: $font-weight-medium;
}

@mixin font-fliesstext-m {
  font-size: 18px;
  line-height: 26px;
  @include breakpoint('s') {
    font-size: 14px;
    line-height: 21px;
  }        
  font-weight: $font-weight-medium;
}

@mixin font-fliesstext-s {
  font-size: 14px;
  line-height: 20px;
  @include breakpoint('s') {
    font-size: 12px;
    line-height: 16px;
  }        
  font-weight: $font-weight-medium;
}

@mixin font-tanzklassen { 
  font-size: 16px;
  line-height: 18px;
  @include breakpoint('s') {
    font-size: 12px;
    line-height: 14px;
  }        
  font-weight: $font-weight-medium; 
  letter-spacing: 0.16px;
  text-transform: uppercase;
}

@mixin font-menu-quicklinks {
  font-size: 16px;
  line-height: 20px;
  font-weight: $font-weight-semibold;
  letter-spacing: 0.16px;
  text-decoration: underline;
  text-transform: uppercase;
}

@mixin font-stripes {
  font-size: 16px;
  line-height: 16px;
  @include breakpoint('s') {
    font-size: 12px;
    line-height: 14px;
  }          
  font-weight: $font-weight-semibold;
  letter-spacing: 0.16px;
  text-transform: uppercase;
}

@mixin font-stripes-infos {
  font-size: 16px;
  line-height: 16px;
  font-weight: $font-weight-semibold;
  letter-spacing: 0.16px;
  text-transform: uppercase;
}

@mixin font-feature {
  font-size: 40px;
  line-height: 46px;
  @include breakpoint('s') {
    font-size: 40px; // TODO
    line-height: 46px; // TODO
  }
  font-weight: $font-weight-medium;
  font-style: italic;
  .embedded_preview_container & {
    font-size: 40px !important;
    line-height: 46px !important;
  }
}

@mixin font-button {
  font-size: 18px;
  line-height: 24px;
  font-weight: $font-weight-medium;
  .embedded_preview_container & {
    font-size: 18px !important;
    line-height: 24px !important;
  }
}

@mixin font-button {
  font-size: 14px;
  line-height: 24px;
  font-weight: $font-weight-medium;
  .embedded_preview_container & {
    font-size: 14px !important;
    line-height: 24px !important;
  }
}

/* --------------------------------------------------
   Breakpoint Mixin
   -------------------------------------------------- */

// $breakpoint = die Größe die ihr braucht.
// Ihr könnt aber auch anstelle von 'xs', 's', 'm', 'l', 'xl' einfach einen Wert eintragen.
// Das macht Sinn wenn man mal einen speziellen Breakpoint braucht. Den muss man dann nicht zwingend in die Sass Map packen.
// $direction: $media-direction = das was ihr in den Settings eingestellt habt.
@mixin breakpoint($breakpoint,$direction: $media-direction) {

  // Es wird gecheckt ob der Wert in der Sass Map vorhanden ist
  @if map-has-key($breakpoints, $breakpoint) {

    // Ausgabe
    @media (#{$direction}-width: #{map-get($breakpoints, $breakpoint)}) {
      @content;
    }
  }

  // Wenn ihr oben einen Wert eingetragen habt wird hier gecheckt ob ihr einen Einheit angehängt habt. Falls nicht wird px genutzt.
  @else if unitless($breakpoint) {
    $breakpoint: $breakpoint + 0px;

    // Ausgabe
    @media (#{$direction}-width: $breakpoint) {
      @content;
    }
  }
}

/* --------------------------------------------------
   distances
   -------------------------------------------------- */

@mixin page-dist($attr: "margin-top", $direction: "top", $add: 0) {
  #{$attr}: map-get($page-dist-l, $direction) + $add;
  @include breakpoint('s') {
    #{$attr}: map-get($page-dist-s, $direction) + $add;
  }
}

@mixin grid-gap-dist($attr: "padding-right", $multiply: 1) {
  #{$attr}: $grid-gap-l * $multiply;
  @include breakpoint('s') {
    #{$attr}: $grid-gap-s * $multiply;
  }
}

@mixin flex-row {
  display: flex;
  width: 100%;
  flex-direction: row;

  //width: calc(100% + $grid-gap-l);
  //margin-left: -$grid-gap-l;
  //@include breakpoint('s') {
  //  width: calc(100% + $grid-gap-s);
  //  margin-left: -$grid-gap-s;
  //}
}

@mixin flex-row-item($row-width, $total-rows, $border: true) {
  //@include grid-gap-dist("margin-left", ($row-begin - 1)/($total-rows - 1));
  //@include grid-gap-dist("padding-right", (($total-rows - 1) - ($row-end - 1))/($total-rows - 1));
  //box-sizing: border-box;
  @if($border) {
    margin-right: $grid-gap-l;
  }
  flex: 0 0 calc(#{100 * $row-width / $total-rows}% - #{if($border, $grid-gap-l, "0px")});
  @if ($debug) {
    background: rgba(random(255), random(255), random(255), 0.5);
  }
}

/* --------------------------------------------------
   Other Mixins
   -------------------------------------------------- */

@mixin debug($color) {
  @if ($debug) {
    background-color: $color;
  }
}