@import "./__variables.scss";
@use "sass:map";

/* --------------------------------------------------
   Font Style Mixins
   -------------------------------------------------- */

@mixin font-h1($bottom-adjust: false) {
  font-size: 150px;
  line-height: 140px;
  @if ($bottom-adjust) {
    position: relative;
    bottom: -0.25em;
  }
  @include breakpoint('s') {
    font-size: 72px;
    line-height: 73px;
    @if ($bottom-adjust) {
      position: relative;
      bottom: -0.25px;
    }    
  }
  font-weight: $font-weight-medium;
  font-style: italic;
  letter-spacing: -0.02em;
}

@mixin font-h1-small($bottom-adjust: false) {
  @include font-h1($bottom-adjust);
  font-size: 100px;
  line-height: 100px;
  @include breakpoint('s') {
    font-size: 72px;
    line-height: 73px;
  }
}

@mixin font-h2 {
  font-size: 72px;
  line-height: 72px;
  @include breakpoint('s') {
    font-size: 48px;
    line-height: 50px;
  }
  font-weight: $font-weight-medium;
  font-style: italic;
  letter-spacing: -0.02em;
}

@mixin font-h3 {
  font-size: 48px;
  line-height: 52px;
  @include breakpoint('s') {
    font-size: 36px;
    line-height: 48px;
  }
  font-weight: $font-weight-medium;
  font-style: italic;
  letter-spacing: -0.02em;
  .embedded_preview_container & {
    font-size: 48px !important;
    line-height: 52px !important;
  }
}

@mixin font-h4 {
  font-size: 28px;
  line-height: 28px;
  @include breakpoint('s') {
    font-size: 26px;
    line-height: 28px;
  }  
  font-weight: $font-weight-medium;
  font-style: italic;
  text-transform: uppercase;
}

@mixin font-h5 {
  font-size: 22px;
  line-height: 28px;
  @include breakpoint('s') {
    font-size: 20px;
    line-height: 24px;
  }    
  font-weight: $font-weight-medium;
  font-style: italic;
  text-transform: uppercase;
}

@mixin font-kalender-h1 {
  font-size: 32px;
  line-height: 48px;
  @include breakpoint('s') {
    font-size: 26px;
    line-height: 26px;
  }      
  font-style: normal;
  font-weight: $font-weight-medium;
}

@mixin font-pullquote {
  font-size: 32px;
  line-height: 44px;
  @include breakpoint('s') {
    font-size: 20px;
    line-height: 27px;
  }    
  font-weight: $font-weight-regular;
  letter-spacing: -0.32px;
}

@mixin font-menüpunkte {
  font-size: 28px;
  line-height:40px;
  //@include breakpoint('s') {
  //  font-size: 28px;
  //  line-height: 34px;
  //}        
  font-weight: $font-weight-medium;
  letter-spacing: -0.02em;
}

@mixin font-menü-unterpunkte {
  font-size: 20px;
  line-height: 28px;
  //@include breakpoint('s') {
  //  font-size: 20px;
  //  line-height: 20px;
  //}        
  font-weight: $font-weight-regular;
  letter-spacing: -0.02em;
}

@mixin font-input {
  font-size: 28px;
  line-height: 32px;
  @include breakpoint('s') {
    font-size: 18px;
    line-height: 22px;
  }        
  font-weight: $font-weight-regular;
}

@mixin font-title {
  font-size: 28px;
  line-height: 32px;
  @include breakpoint('s') {
    font-size: 18px;
    line-height: 22px;
  }        
  font-weight: $font-weight-medium;
}

@mixin font-title-small {
  font-size: 22px;
  line-height: 24px;
  @include breakpoint('s') {
    font-size: 18px;
    line-height: 22px;
  }        
  font-weight: $font-weight-medium;
}

@mixin font-title-festival {
  font-size: 12px;
  line-height: 20px;
  font-weight: $font-weight-semibold;
  letter-spacing: 0.3px;
  text-transform: uppercase;
}

@mixin font-subtitle {
  font-size: 18px;
  line-height: 28px;
  @include breakpoint('s') {
    font-size: 16px;
    line-height: 22px;
  }        
  font-weight: $font-weight-medium;
}

@mixin font-fliesstext-l {
  font-size: 22px;
  line-height: 28px;
  @include breakpoint('s') {
    font-size: 16px;
    line-height: 24px;
  }        
  font-weight: $font-weight-regular;
  letter-spacing: normal;
  font-feature-settings: 'ss01' on, 'ss02' on;
}

@mixin font-fliesstext-m {
  font-size: 18px;
  line-height: 26px;
  @include breakpoint('s') {
    font-size: 14px;
    line-height: 18px;
  }        
  font-weight: $font-weight-medium;
  letter-spacing: normal;
  font-feature-settings: 'ss01' on, 'ss02' on;
}

@mixin font-fliesstext-s {
  font-size: 14px;
  line-height: 20px;
  @include breakpoint('s') {
    font-size: 12px;
    line-height: 16px;
  }        
  font-weight: $font-weight-medium;
  letter-spacing: normal;
  font-feature-settings: 'ss01' on, 'ss02' on;
}

@mixin font-photocredit {
  font-size: 12px;
  line-height: 20px;
  @include breakpoint('s') {
    font-size: 12px;
    line-height: 16px;
  }        
  font-weight: $font-weight-medium;
  text-transform: uppercase;
  letter-spacing: 1px;
}

@mixin font-tanzklassen { 
  font-size: 16px;
  line-height: 18px;
  @include breakpoint('s') {
    font-size: 12px;
    line-height: 14px;
  }        
  font-weight: $font-weight-medium; 
  letter-spacing: 0.16px;
  text-transform: uppercase;
}

@mixin font-language-select { 
  font-size: 16px;
  line-height: 18px;
  @include breakpoint('s') {
    font-size: 12px;
    line-height: 14px;
  }        
  font-weight: $font-weight-medium; 
  letter-spacing: 0.16px;
  text-transform: uppercase;
}

@mixin font-menu-quicklinks {
  font-size: 16px;
  line-height: 20px;
  font-weight: $font-weight-semibold-eps51;
  letter-spacing: 0.16px;
  text-decoration: underline;
  text-transform: uppercase;
}

@mixin font-stripes {
  font-size: 16px;
  line-height: 16px;
  @include breakpoint('s') {
    font-size: 12px;
    line-height: 14px;
  }          
  font-weight: $font-weight-semibold-eps51;
  letter-spacing: 0.16px;
  text-transform: uppercase;
}

@mixin font-stripes-infos {
  font-size: 16px;
  line-height: 20px;
  font-weight: $font-weight-semibold;
  letter-spacing: 0.16px;
  text-transform: uppercase;
}

//@mixin font-feature {
//  font-size: 48px;
//  line-height: 52px;
//  @include breakpoint('s') {
//    font-size: 40px; // TODO
//    line-height: 46px; // TODO
//  }
//  font-weight: $font-weight-medium;
//  font-style: italic;
//  .embedded_preview_container & {
//    font-size: 40px !important;
//    line-height: 46px !important;
//  }
//}

@mixin font-button {
  font-size: 18px;
  line-height: 24px;
  font-weight: $font-weight-medium;
  .embedded_preview_container & {
    font-size: 18px !important;
    line-height: 24px !important;
  }
  letter-spacing: normal;
}

@mixin font-button-small {
  font-size: 14px;
  line-height: 24px;
  font-weight: $font-weight-medium;
  .embedded_preview_container & {
    font-size: 14px !important;
    line-height: 24px !important;
  }
  letter-spacing: normal;
}

/* --------------------------------------------------
   Breakpoint Mixin
   -------------------------------------------------- */

// $breakpoint, definiert in map.
// $direction: $media-direction = min oder max
@mixin breakpoint($breakpoint, $direction: $media-direction) {

  @media (#{$direction}-width: #{map-get($breakpoints, $breakpoint)}) {
    @content;
  }
}

/* --------------------------------------------------
   distances
   -------------------------------------------------- */

@mixin page-dist($attr: "margin-top", $direction: "top", $add: 0) {
  #{$attr}: map-get($page-dist-l, $direction) + $add;
  @include breakpoint('s') {
    #{$attr}: map-get($page-dist-s, $direction) + $add;
  }
}

@mixin grid-gap-dist($attr: "padding-right", $multiply: 1) {
  #{$attr}: $grid-gap-l * $multiply;
  @include breakpoint('s') {
    #{$attr}: $grid-gap-s * $multiply;
  }
}

@mixin grid-dist($attr: "padding-right", $multiply: 1) {
  #{$attr}: 100%/12 * $multiply;
  @include breakpoint('s') {
    #{$attr}: 100%/12 * $multiply;
  }
}

@mixin grid-gap {
  @include grid-gap-dist("grid-gap", 1);
}

// creates an attribute with value that sums up 
//   $multiplyCol amount of column widths
// + $multiplyGap amount of gap widths 
// + optional page border of direction $pageBorderDirection
@mixin grid-col-gap-dist($attr: "padding-right", $multiplyCol: 1, $multiplyGap: 1, $pageBorderDirection: false) {
  #{$attr}: calc( (100% - (12 * #{$grid-gap-l})) / 12 * #{$multiplyCol} + ( #{$grid-gap-l} * #{$multiplyGap} ) #{if($pageBorderDirection,"+","")} #{map-get($page-dist-l, $pageBorderDirection)} )  ;
  @include breakpoint('s') {
    #{$attr}: calc( (100% - (12 * #{$grid-gap-s})) / 12 * #{$multiplyCol} + ( #{$grid-gap-s} * #{$multiplyGap} ) #{if($pageBorderDirection,"+","")} #{map-get($page-dist-s, $pageBorderDirection)} )  ;
  }
}


@mixin flex-row {
  display: flex;
  width: 100%;
  flex-direction: row;

  //width: calc(100% + $grid-gap-l);
  //margin-left: -$grid-gap-l;
  //@include breakpoint('s') {
  //  width: calc(100% + $grid-gap-s);
  //  margin-left: -$grid-gap-s;
  //}
}

@mixin flex-row-item($row-width, $total-rows, $border: true) {
  //@include grid-gap-dist("margin-left", ($row-begin - 1)/($total-rows - 1));
  //@include grid-gap-dist("padding-right", (($total-rows - 1) - ($row-end - 1))/($total-rows - 1));
  //box-sizing: border-box;
  @if($border) {
    margin-right: $grid-gap-l;
    @include breakpoint('s') {
      margin-right: $grid-gap-s;
    }
  }
  flex: 0 0 calc(#{100 * $row-width / $total-rows}% - #{if($border, $grid-gap-l, "0px")});
  @include breakpoint('s') {
    flex: 0 0 calc(#{100 * $row-width / $total-rows}% - #{if($border, $grid-gap-s, "0px")});
  }
  @if ($debug) {
    background: rgba(random(255), random(255), random(255), 0.5);
  }
}

@mixin width-row-item($row-width, $total-rows, $border: true) {
  //@include grid-gap-dist("margin-left", ($row-begin - 1)/($total-rows - 1));
  //@include grid-gap-dist("padding-right", (($total-rows - 1) - ($row-end - 1))/($total-rows - 1));
  //box-sizing: border-box;
  @if($border) {
    margin-right: $grid-gap-l;
    @include breakpoint('s') {
      margin-right: $grid-gap-s;
    }
  }
  width: calc(#{100 * $row-width / $total-rows}% - #{if($border, $grid-gap-l, "0px")});
  @include breakpoint('s') {
    width: calc(#{100 * $row-width / $total-rows}% - #{if($border, $grid-gap-s, "0px")});
  }
  @if ($debug) {
    background: rgba(random(255), random(255), random(255), 0.5);
  }
}

/* --------------------------------------------------
   Other Mixins
   -------------------------------------------------- */

@mixin debug($color) {
  @if ($debug) {
    background-color: $color;
  }
}
@mixin hide-scrollbar-x {
  &::-webkit-scrollbar { 
    display: none;  /* Chrome Safari */
  }
  scrollbar-width: none; /* Firefox */
  -ms-overflow-style: none;  /* IE 10+ */
  overflow-x:auto;
  overflow-y:hidden;
}

@mixin outline {
  color: white;
  text-shadow:
    -1px -1px 0 $color-red,  
    1px -1px 0 $color-red,
    -1px 1px 0 $color-red,
    1px 1px 0 $color-red;  
}

@mixin clearfix {
  &:after {
    content: "";
    display: table;
    clear: both;
  }
}

@mixin mobile-language-switcher {
  ul#language_switcher {
    position: fixed;
    opacity: 1;
    top:0;
    right: 60px;
    height: $header-height;
    z-index: 20;
    transform: translateX(-100%);
    line-height: $header-height;
    .active {
      display: none;
    }
    :not(active) {
      font-size:20px;
    }
  }  
}