@import "./__mixins.scss";

/**
 ** stripes
 **/

.stripes_vertical {
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  @include font-stripes;

  span {
    
    &[data-repeated-text] {
      &:before, &:after {
        content: attr(data-repeated-text);
        display: block;
      }
    }

    &[data-text] {
      &:before {
        content: attr(data-text);
        display: block;
        white-space: pre-line;
      }
    }    

    &[data-text-section] {
      &:before, &:after {
        display: block;

        [data-section="schule"] &,
        [data-section] [data-section="schule"] & { // override previous definition
          content: "Schule";
        }
        [data-section="buehne"] &,
        [data-section] [data-section="buehne"] & {
          content: "Bühne";
        }        
        [data-section="fabrik"] &,
        [data-section] [data-section="fabrik"] & {
          content: "Fabrik";
        }
        [data-section="festival"] &,
        [data-section] [data-section="festival"] & {
          content: "Festival";
        }        
      }
    }
  }

}

span[data-logo] {
  &:before {
    content: url("~svgs/Tanzfabrik_Signet-red.svg");
    .module__feature[data-section="buehne"] &,
    .module__feature[data-section="festival"] &,
    body.featured_visible[data-section="buehne"]:not(.menu_open) .horizontal_bar_container & {
      content: url("~svgs/Tanzfabrik_Signet-white.svg");  
    }        
    display: block;
    width: $logo-width;
    height: $logo-height;
    [data-section="buehne"] & {
      content: url("~svgs/Tanzfabrik_Signet-black.svg");
    }
    [data-section="festival"] & {
      content: url("~svgs/Tanzfabrik_Signet-green.svg");
    }
    [data-section] [data-section="schule"] & {
      content: url("~svgs/Tanzfabrik_Signet-red.svg");
    }    
  }
}

span[data-close] {
  cursor: pointer;
  &:before {
    content: url("~svgs/TAFA20-Webseite_x_red.svg");

    display: block;
    width: $logo-width;
    height: $logo-height;
    [data-section="buehne"] & {
      content: url("~svgs/TAFA20-Webseite_x_black.svg");
    }
  }
}

svg.icon {
  width: 40px;
  height: 40px;
  @include breakpoint('s') {
    width: 32px;
    height: 32px;    
  }
  path {
    stroke-linecap:round;
    stroke-width:2px;
  }
}

[data-section="buehne"] svg.section-fill-color {
  path {
    fill: $color-black;
  }
}

[data-section="buehne"] svg.section-stroke-color {
  path {
    stroke: $color-black;
  }
}