@use "sass:map";

$debug: false;
$debug-grid: false;

$font-weight-regular: 400;
$font-weight-medium: 500;
$font-weight-semibold-eps51: 600;
$font-weight-semibold: 700;
$font-weight-black: 800;

$color-red: #ff0000;
$color-black: #000000;
$color-green: #00EA1A;

$page-dist-l: (
  'top':  12px,
  'left': 22px,
  'right': 22px,
  'bottom': 12px,
);

$page-dist-s: (
  'top':  14px,
  'left': 14px,
  'right': 14px,
  'bottom': 14px,
);

$grid-gap-l: 18px;
$grid-gap-s: 14px;

$header-height: 52px;
$header-height-logo: 38px;
$menu-height: 52px;
$page-top-padding: 20px;

// :root {
//   --feature-visible-offset: #{$header-height + $menu-height};
// }

$logo-width: 34px;
$logo-height: 38px;

$icon-height-l: 40px;
$icon-width-l: 40px;
$icon-height-s: 32px;
$icon-width-s: 32px;

/* --------------------------------------------------
   Breakpoint Settings, see https://davidhellmann.com/blog/development/sass-breakpoint-mixin
   -------------------------------------------------- */

// min or max
$media-direction:       max;  // max -> desktop first

// Breakpoints
// A Sass Map for all Breakpoints you need. But keep it simple! Just add Sizes that you need several times.
$breakpoints: (
  'default':            '',
  's':                  1040px,
  's-min':              1041px,
  'xs':                 780px,
  'xs-min':             781px,
);