@import "./__mixins.scss";

.module__accordeon_headline {

  $margin-bottom: 100px;
  $margin-bottom-s: 50px;

  margin-bottom: $margin-bottom;
  + .module__accordeon_element {
    margin-top: -$margin-bottom;
  } 

  @include breakpoint('s') {
    margin-bottom: $margin-bottom-s;
    + .module__accordeon_element {
      margin-top: -$margin-bottom-s;
    } 
  }
  
  .headline {
      @include grid-col-gap-dist("margin-left", 1,1,"left");
      @include page-dist("margin-right", "right");
      
      @include breakpoint('s') {
        @include grid-col-gap-dist("margin-left", 0,0,"left");
      }

      @include font-title;

      border-bottom-width: 1px;
      border-bottom-style: solid;
      padding: 12px 0;

  }      

}
    