@import "./__mixins.scss";

.module__content_2_columns {


  .headline {
    @include page-dist("margin-left", "left");
    @include grid-dist("padding-left", 1);    
    margin-bottom: 40px;
  }

  .columns {
    display: flex;

    @include page-dist("margin-left", "left");
    @include page-dist("margin-right", "right");

    @include grid-dist("padding-left", 1);
    @include grid-dist("padding-right", 1);

    .column_left {
      flex: 0.57;
    }

    .column_right {
      flex: 0.43;
      padding-left: 60px;
    }
  }

  h4 {
    hyphens: auto; 
    margin-bottom: 12px;
  }

  .rich_content_1 {
    @include font-fliesstext-m;
  }  

  .rich_content_2 {
    @include font-fliesstext-m;
  }  

  .button {
    margin-top: 40px;
  }

  // h4 {
  //   &:before {
  //     content: "↪ ";
  //   }
  // }


}