@import "./__mixins.scss";

.module__content_element {

  display: flex;

  @include page-dist("margin-left", "left");
  @include page-dist("margin-right", "right");

  @include grid-dist("padding-left", 1);
  @include grid-dist("padding-right", 1);
  
  .column_left {
    flex: 1;
    box-sizing: border-box;

    img {
      width: 100%;
      padding-right: 16px;
      box-sizing: border-box;
      display: block;
    }
  }

  .column_right {
    flex:1;
    > *:last-child {
      margin-bottom: 0;
    }
  }

  h2 {
    margin-bottom: 20px;
  }

  h4{
    margin-bottom: 12px;
  }

  .rich_content_1 {
    @include font-fliesstext-m;
    margin-bottom: 30px;
  }  

  .special_text {
    @include font-stripes-infos;
    white-space: pre-line;
    margin-top: -20px;
    margin-bottom: 30px;
  }  

}