@import "./__mixins.scss";

.module__festival_logos{
  @include grid-col-gap-dist("margin-left", 1,1, "left");
  @include grid-col-gap-dist("margin-right",1,1,  "right");
  padding-top: 12px;
  border-top-width: 1px;
  border-top-style: solid;
  margin-bottom: 50px;

  * {
    @include font-fliesstext-s;
  }
  
  display: flex;
  flex-direction: row;

  .section {
    @include grid-col-gap-dist("margin-right",1,1);

    .headline {
      margin-bottom: 12px;
    }

    .logo {
      float: left;
      &:nth-child(2n) {
        clear: left;
      }
    }

    img {
      width: 8vw;
      height: 8vw;
      object-fit: contain;
      margin-right: 24px;
      margin-bottom: 24px;
      //border: 1px solid;
    }
  }
}  
