@import "./__variables.scss";
@import "./__mixins.scss";

:root, html, body {
  min-height: 100%;
}

* {
  font-family: Garnett, sans-serif;
}

h1 {
  @include font-h1;
}

h2 {
  @include font-h2;
}

h3 {
  @include font-h3;
}

h4 {
  @include font-h4;
}

h5 {
  @include font-h5;
}



.horizontal_bar_container {

  width: 100%;
  display: flex;
  @include font-stripes;

  .horizontal_bar_left {
    width: 50%;
  }

  .horizontal_bar_center {
    flex:1;
  }

  .horizontal_bar_right {
  }
}

header {
  position: fixed;
  top:0;
  z-index: 1;

  height: $header-height;

  @include page-dist("padding-top", "top");
  @include page-dist("padding-left", "left");
  @include page-dist("padding-right", "right");

  img {
    height: $header-height-logo;
  }

}

main.page {
  @include page-dist("margin-top", "top", $header-height);
  @include page-dist("padding-top", "top");
}