@import "./__variables.scss";
@import "./__mixins.scss";

:root, html, body {
  min-height: 100%;
}

* {
  font-family: Garnett, sans-serif;
}

h1, .h1 {
  @include font-h1;
}

h2, .h2 {
  @include font-h2;
}

h3, .h3 {
  @include font-h3;
}

h4, .h4 {
  @include font-h4;
}

h5, .h5 {
  @include font-h5;
}

a {
  font-style: normal;
  text-decoration: none;
  &:hover {
    text-decoration: underline;
  }
}



.horizontal_bar_container {

  @include flex-row;
  @include font-stripes;

  .horizontal_bar_left {
    @include flex-row-item(6,12);
  }

  .horizontal_bar_center {
    @include flex-row-item(3,12);
  }

  .horizontal_bar_right {
    @include flex-row-item(3,12, false);
    text-align: right;
  }
}

header {
  position: fixed;
  top:0;
  z-index: 1;
  background-color: white;
  overflow: hidden;

  // height: $header-height;

  @include page-dist("padding-top", "top");
  @include page-dist("padding-left", "left");
  @include page-dist("padding-right", "right");
  @include page-dist("padding-bottom", "bottom");

  img {
    height: $header-height-logo;
  }

}

main.page {
  @include page-dist("margin-top", "top", $header-height);
  @include page-dist("padding-top", "top");
}

/**
 ** stripes
 **/

.stripes_vertical {
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  @include font-stripes;

  span {
    
    &[data-repeated-text] {
      &:before, &:after {
        content: attr(data-repeated-text);
        display: block;
      }
    }

    &[data-text] {
      &:before {
        content: attr(data-text);
        display: block;
        white-space: pre-line;
      }
    }    

    &[data-text-section] {
      &:before, &:after {
        display: block;
        [data-section="buehne"] & {
          content: "Bühne";
        }
        [data-section="schule"] & {
          content: "Schule";
        }
        [data-section="fabrik"] & {
          content: "Fabrik";
        }
        [data-section="festival"] & {
          content: "Festival";
        }        
      }
    }

    &[data-logo] {
      &:before {
        content: url("/images/Tanzfabrik_Signet-black.svg");
        .module__feature[data-section="buehne"] & {
          content: url("/images/Tanzfabrik_Signet-white.svg");  
        }        
        display: block;
        width: $logo-width;
        height: $logo-height;
        [data-section="schule"] & {
          content: url("/images/Tanzfabrik_Signet-red.svg");
        }
        [data-section="festival"] & {
          content: url("/images/Tanzfabrik_Signet-green.svg");
        }        
      }
    }
  }

}

/**
 ** content modules defaults
 **/

[data-section] {
  color: $color-black;
  border-color: $color-black;
  .embedded_preview_container & {
    * { color: $color-black;}
  }
}

[data-section="schule"] {
  color: $color-red;
  border-color: $color-red;
  .embedded_preview_container & {
    * { color: $color-red;}
  }  
}

[data-section="festival"] {
  color: $color-green;
  border-color: $color-green;
  .embedded_preview_container & {
    * { color: $color-green; }
  }
}

[class^="module__"] {
  margin-bottom: 150px;
}

/**
 ** buttons
 **/

.button {
  @include font-button;
  border: 1px solid;
  display: inline-block;
  border-radius: 7px;
  padding: 4px 11px 4px 12px;
  position: relative;

  &:hover {
    background-color:currentColor;
    &:after {
      content: attr(title);
      color: white;
      position: absolute;
      left: 12px;
      top: 4px;
    }
  }
}

.downloads .button.pdf {
  padding-left: 2.4em;
  background-image: url("/images/PDF-Icon-black.svg");
  background-repeat: no-repeat;
  background-position: -1em 50%;
  background-size: 4em;
  &:hover {
    background-image: url("/images/PDF-Icon-white.svg") !important;
      &:after {
      left: calc(2.4em);
    }
  }
}

[data-section="schule"] .downloads .button.pdf {
  background-image: url("/images/PDF-Icon-red.svg");
}

/**
 ** grid
 **/

.grid {

}
