@import "./__mixins.scss";

.module__kursplan {

  @include page-dist("padding-left", "left");
  @include page-dist("padding-right", "right");

  table, thead, tbody, tr, th, td {
    display: block;
  }

  .timetable-container {

    .timetable {

      tr {
        @include flex-row;

        th, td {
          @include flex-row-item(2,12, false);
          overflow: hidden;
          border-style: solid;
          border-width: 1px 0 0 1px;
          &:last-child { border-right-width: 1px; }
        }
    
      }

      thead {
        th {
          border: none;
        }
        .row-studio th {
          overflow: visible;
          padding-bottom: 20px;
        }
        .row-days th {
          text-align: left;
          @include font-stripes;
          padding: 6px;
        }
      }

      tbody {
        th {
          visibility: hidden;
        }
        tr:last-child { th, td {
          border-bottom-width: 1px;
        } }

        .event {
          padding: 6px;
          min-height: 233px;

          display: flex;
          flex-direction: column;

          .title-description {
            @include debug(white);
            flex: 1;
            hyphens: auto;
          }

          .time-footnotes {
            @include font-tanzklassen;
            .footnote {
              float: right;
            }
          }

          .warning {
            @include font-stripes;
          }

          .title {
            @include font-title;
          }

          .tickets-icon {
            height: 1.5em;
            padding-top: 0.3em;
            display: block;
            @include font-title;
          }

          .teacher, .studio {
            @include font-tanzklassen;
          }

          & + .event {
            border-style: solid;
            border-width: 1px 0 0 0;
          }
        }
      }

    }
  }

  .tags {
    @include grid-col-gap-dist("padding-left",2,2);
    @include font-fliesstext-s;
    margin-top: 12px;
    dt:after {
      content: "\a0=\a0";
    }
    .tag {
      float: left;
      margin-right: 1em;
      white-space: nowrap;
    }
    dt,dd {
      display: inline;
    }
  }

}

