@import "./__mixins.scss";

body:not([data-menu-item-key="start"]) #main_nav {

  @include page-dist("padding-left","left");
  @include page-dist("padding-right","right");

  display: flex;
  width: 100%;

  > ul:nth-child(1) { // language switcher

  }

  > ul:nth-child(2) { // tree
    flex: 1;
    display: flex;
    flex-direction: row;
    justify-content: space-around;

    a {
      text-decoration: none;
      &:hover {
        text-decoration: underline;
      }
    }

    > li > a { // section headers
      @include font-menüpunkte
    }

    ul {
      
      li, a {
        @include font-menü-unterpunkte;
      }
      
    }
  }

}
