@import "./__mixins.scss";

.module__newsletter {
  @debug(#0f09);
  @include font-fliesstext-m;
  @include grid-col-gap-dist("padding-left", 6, 5, "left");
  @include grid-col-gap-dist("padding-right", 1, 1, "right");

  h3 {
    margin-bottom: 30px;
  }

  .rich_content {
    margin-bottom: 30px;
  }

  li {
    margin-bottom: 1ex;;
  }

  input[type="email"] {
    @include font-input;
    border: none;
    outline: none;
    border-bottom: 1px solid;
    margin-bottom: 30px;
  }

  input[type="checkbox"] {
    float: left;
    margin-right: 0.5em;
  }

  .submit {
    margin-top: 30px;
  }
}