@import "./__mixins.scss";

.module__people_gallery {

  h1 {
    @include page-dist("margin-left", "left");
    @include page-dist("margin-right", "right");

    padding-left: calc(100% / 12);
    padding-right: calc(100% / 12);    

    margin-bottom: 30px;
  }

  .people_list {
    display: flex;
    flex-wrap: wrap;

    @include page-dist("margin-left", "left");
    @include page-dist("margin-right", "right");

    padding-left: calc(100% / 12);
    padding-right: calc(100% / 12);

    li {
      width: calc( ( 100% - ( 4 * 18px ) ) / 5 );
      overflow: hidden;
      margin-right: 18px;
      &:nth-child(5n+5) { margin-right: 0; }
      margin-bottom: 50px;
    
    
      .image_container  { // does this get ignored by compilers?
        width: 100%;

        margin-bottom: 16px;
      
        img {
          width: 100%;
          height: auto;
          object-fit: cover;
          display: block;        
        }
      }    

      .info {
        @include font-title-small;
        hyphens: auto;
      }

    }
  }

  &[data-style-option="large"] {
    .people_list {
      li {
        width: calc( ( 100% - ( 2 * 18px ) ) / 3 );
        &:nth-child(5n+5) { margin-right: 18px; }
        &:nth-child(3n+3) { margin-right: 0; }
      }
      .rich_text_1 {
        margin-top:4px;
        @include font-fliesstext-s;
      }
    }
  }

}