@import "./__mixins.scss";

.people_list {
  display: flex;
  flex-wrap: wrap;

  @include page-dist("margin-left", "left");
  @include page-dist("margin-right", "right");

  padding-left: calc(100% / 12);
  padding-right: calc(100% / 12);

  li {
    width: calc( ( 100% - ( 4 * 18px ) ) / 5 );
    overflow: hidden;
    margin-right: 18px;
    &:nth-child(5n+5) { margin-right: 0; }
    margin-bottom: 50px;

    a {
      display: block;
    }    
    
    .image_container  { // does this get ignored by compilers?
      width: 100%;
      height: 263px;
      margin-bottom: 16px;
    
      img {
        width: inherit;
        height: inherit;
        object-fit: cover;
        display: block;        
      }
    }

    .info, a {
      @include font-title;
    }

  }
}