@import "./__mixins.scss";

.module__people_gallery {

  h1 {
    @include page-dist("margin-left", "left");
    @include page-dist("margin-right", "right");

    padding-left: calc(100% / 12);
    padding-right: calc(100% / 12);    

    margin-bottom: 30px;
  }

  .people_list {
    display: flex;
    flex-wrap: wrap;

    @include page-dist("margin-left", "left");
    @include page-dist("margin-right", "right");

    padding-left: calc(100% / 12);
    padding-right: calc(100% / 12);

    li {
      width: calc( ( 100% - ( 4 * 18px ) ) / 5 );
      overflow: hidden;
      margin-right: 18px;
      &:nth-child(5n+5) { margin-right: 0; }
      margin-bottom: 50px;
    
    
      .image_container  { // does this get ignored by compilers?
        width: 100%;

        margin-bottom: 16px;
      
        img {
          width: 100%;
          height: auto;
          object-fit: cover;
          display: block;        
        }
      }    

      .info, .info a {
        @include font-title;
        hypens: auto;
      }

    }
  }
}