@import "./__mixins.scss";

.module__performance_projekte, .module__profitraining {

  h3, .project_list {
    @include page-dist("padding-left", "left");
    @include page-dist("padding-right", "right");
  }

  h3, .project_list li {
    padding-top: 12px;
    padding-bottom: 12px;
  }

  .project_list li {
    border-width: 0 0 1px 0;
    border-style: solid;
    &:first-child { border-top-width: 1px;}
  }

  .project {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-template-rows: 1fr;
    @include grid-gap-dist("grid-gap");
    align-items: center;
    > * {
      grid-row: 1;
    }

    .time-duration {
      @include font-title;
      grid-column: 1 / span 4;
    }

    .time {
      @include font-stripes;
      grid-column: 4 / span 1;
    }    

    .teacher {
      @include font-stripes;
      grid-column: 5 / span 2;
    }

    .title {
      @include font-title;
      grid-column: 7 / span 6;
    }
  }

  .archive-section {
    margin-top: 50px;
    .archive-links .project_list li:first-child {
      border-top-width: 0;
      border-bottom-width: 1px;
    }
    details[open] {
      margin-bottom: 50px;
    }
    .archive-links li:first-child, details:first-child summary {
      border-top-style: solid;
      border-top-width: 1px;
    }
    .project_list + .year {
      margin-top: 50px;
    }
  }

}

.module__profitraining {
  .archive-section {
    margin-top: 50px;
    .archive-links .project_list li:first-child, .archive-headline + .archive-links + h3.year {
      border-top-width: 1px;
      border-top-style: solid;
    }
    .year {
      @include page-dist("margin-left", "left");
      @include page-dist("margin-right", "right");      
      padding-left:0;
      padding-right: 0;
    }
  }
}