@import "./__mixins.scss";

.module__performance_projekte, .module__profitraining {

  h3, .project_list {
    @include page-dist("padding-left", "left");
    @include page-dist("padding-right", "right");
  }

  h3, .project_list li {
    padding-top: 12px;
    padding-bottom: 12px;
  }

  .project_list li {
    border-width: 0 0 1px 0;
    border-style: solid;
    &:first-child { border-top-width: 1px;}
  }

  .project {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-template-rows: 1fr;
    @include grid-gap-dist("grid-gap");
    align-items: center;
    > * {
      grid-row: 1;
    }

    .time-duration {
      @include font-title;
      grid-column: 1 / span 4;
    }

    .time {
      @include font-stripes;
      grid-column: 4 / span 1;
    }    

    .teacher {
      @include font-stripes;
      grid-column: 5 / span 2;
    }

    .title {
      @include font-title;
      grid-column: 7 / span 6;
      .title-link {
        padding-right: 0.5ex;
      }
      .tickets-icon {
        position: relative;
        height: 1.2em;
        bottom: -0.15em;
        @include font-title;
      }
    }
  }

  .archive-section {
    @include page-dist("padding-left", "left");
    @include page-dist("padding-right", "right");
    margin-top: 50px;
    margin-bottom: 50px;
  }
}

  // MOBILE

.module__performance_projekte, .module__profitraining {
  @include breakpoint('s') {
    .project {
      grid-template-columns: repeat(8, 1fr);
      grid-template-rows: auto auto;
      @include grid-gap;
      .time-duration {
        grid-column: 1 / span 2;
        grid-row: 1 / span 2;
      }
      .teacher {
        grid-column: 3 / span 6;
        grid-row: 2;
      }
      .title {
        grid-column: 3 / span 6;
        grid-row: 1;
      }
    }
  }
}

.module__profitraining {
  @include breakpoint('s') {
    .project {
      .time-duration {
        grid-column: 1 / span 3;
        grid-row: 1 / span 3;
      }
      .teacher {
        grid-column: 5 / span 4;
        grid-row: 2;
      }
      .title {
        grid-column: 5 / span 4;
        grid-row: 1;
      }
      .time {
        grid-column: 4 / span 1;
        grid-row: 1 / span 2 ;
      }
    }
  }
}