@import "./__mixins.scss";

.module__programm {

  .event-calendar {

    @include page-dist("padding-left", "left");
    @include page-dist("padding-right", "right");

    .row.event-programm-section {
      margin-top: 50px;
      padding: 6px 0;
    }

    .row {
      @include debug(rgba(0,0,255,0.5));

      padding-top: 12px;
      padding-bottom: 12px;

      border-style: solid;
      border-width: 0 0 1px 0;

      &+.group {
        margin-top: 30px;
        .month-festival {
          margin-top: 20px; // 20+30 = 50
        }
      }
      
      a {

        display: grid;
        grid-template-columns: repeat(12, 1fr);
        column-gap: $grid-gap-l;
        @include breakpoint('s') {
          column-gap: $grid-gap-s;
        }
        align-items: center;
        > * {
          grid-row: 1;
        }

        .title-teacher {
          grid-column: 7 / span 6;
          @include font-title;
          .teacher {
            @include font-subtitle;
            display: block;
          }
          .in-festival {
            @include font-stripes;
            margin-bottom: 0.1em;
          }
        }

        .type-location {
          grid-column: 4 / span 3;
          @include font-stripes;
          .location, .studio {
            display: inline;
          }
        }

        .time {
          grid-column: 3 / span 1;
          @include font-stripes;
        }

        .date {
          grid-column: 1 / span 2;
          @include font-title;
        }


      }  
    

    }

  }

  &.indent {
    .event-calendar {
      @include grid-col-gap-dist("padding-left", 1, 1, "left");
      .row {
        a {
          grid-template-columns: repeat(11, 1fr);    
          .title-teacher {
            grid-column: 7 / span 5;
          }
        }
      }
    }
  }


  & + .archive-section {
    @include page-dist("padding-left", "left");
    @include page-dist("padding-right", "right");
    margin-bottom: 50px;

    .archive-headline {
      @include font-h3;
    }

    * {
      @include font-title;
    }
    
    .archive-headline, .archive-links li {
      padding: 12px 0;
      // border-bottom-width: 1px;
      // border-bottom-style: solid;
    }
  }


}