@import "./__mixins.scss";

.module__reference {

  display: flex;

  @include page-dist("padding-left", "left");
  @include page-dist("padding-right", "right");

  border-style: solid;
  border-width: 1px 0 1px 0;
  padding-top: 1em;
  padding-bottom: 1em;
  
  .column_left {
    flex: 1;
    box-sizing: border-box;

    img {
      width: 100%;
      padding-right: 16px;
      box-sizing: border-box;
      display: block;
    }
  }

  .column_right {
    flex:1;
    display: flex;

    .text_content {
      box-sizing: border-box;
      padding-left: 50px;
      padding-right: 50px;

      display: flex;
      flex-direction: row;
      justify-content: space-around;

      align-items: center;
      justify-content: center;

    }
  }

  h3 {
  }

  .rich_content_1 {
    @include font-fliesstext-m;

    b {
      @include font-stripes-infos;
    }
  }  

  .sub {
    @include font-title;
  }

  .special_text {
    @include font-stripes-infos;
    white-space: pre-line;
    margin-bottom: 5px;
  }  

}