@import "./__mixins.scss";

.module__slideshow {

  overflow: hidden;

  .headline_container {
    @include flex-row;
    @include page-dist("padding-left", "left");
    justify-content: flex-end;
    margin-bottom: 30px;
    h2 {
      @include flex-row-item(11,12);
      display: flex;
      align-items: center;
      .button {
        margin-left: 1.5em;
        position: relative;
        top: 0.8em;
      }
    }
  }

  .controls {
    position: relative;
    cursor: pointer;
    .next, .previous {
      position: absolute;
      top: 100px;
    }
    .next {
      right: 20px;
    }
    .previous {
      left: 20px;
    }
  }

  .slideshow {

    @include flex-row;
    justify-content: flex-end;
    @include hide-scrollbar-x;
    //@include page-dist("margin-left", "left");

    .slides {

      @include flex-row-item(11,12, true);
      @include flex-row;
      width: calc(#{100 * 11 / 12}% - #{$grid-gap-l});
      overflow: visible;
      margin-right: 0;

      .slide {
        @include flex-row-item(3,11);

        .image {
          img {
            width: 100%;
            height: auto;
            display: block;
            margin-bottom: 10px;
          }
          .caption {
            @include font-fliesstext-s;
            margin-bottom: 10px;
          }
          .licence:not(:first-child) {
            &:before {
              content: ", ";
            }
          }        
        }

        .super {
          @include font-stripes;
          margin-bottom: 10px;
        }
        .headline {
          @include font-title;
          margin-bottom: 5px;
        }
        .rich_content_1 {
          @include font-fliesstext-m;
          margin-bottom: 20px;
      
          b {
            @include font-stripes-infos;
          }
        }  

      }
     }

  }

  // MOBILE
  @include breakpoint('s') {
    .headline_container h2 {
      @include flex-row-item(12,12);
      flex-direction: column;
      align-items: flex-start;
      .button {
        margin-left:0;
      }
    }

    .slideshow {
      .slides {

        @include flex-row-item(12,12, true);
        @include flex-row;
        width: calc(100% - #{$grid-gap-s});
        margin-right:0;
        padding-left: $grid-gap-s;
        
        .slide {
          @include flex-row-item(5,8);
        }
      }
    }
  }

}