@import "./__mixins.scss";

.module__workshop_programm {

  h3, .project_list {
    @include page-dist("padding-left", "left");
    @include page-dist("padding-right", "right");
  }

  .project_list {
    margin-bottom: 24px;
  }

  h3, .project_list li {
    padding-top: 12px;
    padding-bottom: 12px;
  }

  .project_list li {
    border-width: 0 0 1px 0;
    border-style: solid;
    &:first-child { border-top-width: 1px;}
  }

  .project {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-template-rows: auto auto;
    @include grid-gap-dist("grid-column-gap");
    align-items: center;

    .date {
      @include font-title;
      grid-column: 1 / span 4;

      span {
        margin-right: 0.2em;
      }
    }

    /*.time {
      @include font-stripes;
      grid-column: 4 / span 1;
    }*/

    .teacher {
      @include font-stripes;
      grid-column: 5 / span 2;
    }

    .festival-title {
      grid-column: 7 / span 6;
      .title {
          @include font-title;
        }

      .festival {
        @include font-title-festival;
      }
    }
  }

  &.indent {
    .project_list {
      @include grid-col-gap-dist("padding-left", 1, 1, "left")
    }
    .project {
      grid-template-columns: repeat(11, 1fr);
      .title {
        grid-column: 7 / span 5;
      }
    }
  }


  .archive-section {
    @include page-dist("padding-left", "left");
    @include page-dist("padding-right", "right");
    margin-top: 50px;
    margin-bottom: 50px;

    .archive-headline {
      @include font-h3;
    }

    * {
      @include font-title;
    }
    .archive-headline, .archive-links li {
      padding: 12px 0;
      //border-bottom-width: 1px;
      //border-bottom-style: solid;
    }
  }

}