@import "./__mixins.scss";

.module__workshop_programm {

  h3, .project_list {
    @include page-dist("padding-left", "left");
    @include page-dist("padding-right", "right");
  }

  h3, .project_list li {
    padding-top: 12px;
    padding-bottom: 12px;
  }

  .project_list li {
    border-width: 0 0 1px 0;
    border-style: solid;
    &:first-child { border-top-width: 1px;}
  }

  .project {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-template-rows: 1fr;
    @include grid-gap-dist("grid-gap");
    align-items: center;

    .date {
      @include font-title;
      grid-column: 1 / span 3;
    }

    .time {
      @include font-stripes;
      grid-column: 4 / span 1;
    }

    .teacher {
      @include font-stripes;
      grid-column: 5 / span 2;
    }

    .title {
      @include font-title;
      grid-column: 7 / span 6;
    }

    .festival {
      grid-column: 1 / span 3;
    }
  }

  &.indent {
    .project_list {
      @include grid-col-gap-dist("padding-left", 1, 1, "left")
    }
    .project {
      grid-template-columns: repeat(11, 1fr);
      .title {
        grid-column: 7 / span 5;
      }
    }
  }


  .archive-section {
    margin-top: 50px;
  }

}