@import './__mixins.scss';

#studio-booking-widget-container {
    .widget-content {
        display: grid;
        border-width: 1px;
        border-style: solid;
        margin: 2rem 0 2rem 0;
        width: 100%;

        .left-pane {
            grid-column: 1 / span 4;
            display: flex;
            flex-direction: column;
            padding: 1rem;
        }
        .middle-pane {
            grid-column: 5 / span 6;
        }
        .right-pane {
            grid-column: 13 / span 4;
        }
    }

    @include page-dist('margin-left', 'left');
    @include page-dist('margin-right', 'right');

    @include grid-dist('padding-left', 1);
    @include grid-dist('padding-right', 1);

    .MuiPickersDay-root {
        color: red;
    }

    .Mui-disabled {
        color: rgb(192, 188, 188);
    }
    .MuiPickersDay-today {
        background-color: white;
        border: 1px solid red;
    }
    .Mui-selected {
        background-color: red;
        color: white;
    }
    .MuiPickersDay-today.Mui-selected {
        background-color: red;
        color: white;
    }
    .MuiDayCalendar-weekDayLabel {
        color: red;
    }
    .MuiSvgIcon-root.MuiSvgIcon-fontSizeInherit.css-1vooibu-MuiSvgIcon-root {
        path {
            color: red;
        }
    }

    // .column_left {
    //     flex: 1;
    //     box-sizing: border-box;

    //     img {
    //         width: 100%;
    //         padding-right: 16px;
    //         box-sizing: border-box;
    //         display: block;
    //     }
    // }

    // .column_right {
    //     flex: 1;
    // }

    // h2 {
    //     margin-bottom: 30px;
    // }

    // .rich_content_1 {
    //     @include font-fliesstext-m;
    // }

    // .special_text {
    //     @include font-stripes-infos;
    //     white-space: pre-line;
    //     margin-bottom: 5px;
    // }
}
