@import './__mixins.scss';

#studio-booking-widget-root {
    .title {
        font-size: 22px;
        line-height: 32px;
        font-weight: 500;
        letter-spacing: -0.02em;
    }

    .rich_content_2 {
        font-size: 18px;
        line-height: 26px;
        font-weight: 500;
        letter-spacing: normal;
    }

    .studio-title {
        font-size: 18px;
        line-height: 28px;
        font-weight: 500;
        letter-spacing: -0.02em;
        margin: 0.25rem 0;
    }
    .widget-container {
        display: flex;
        flex-direction: column;
        border-width: 1px;
        width: 100%;
        border: 2px solid;
        border-radius: 8px;

        .widget-content {
            display: grid;
            margin: 0 0 0 0;
            width: 100%;
            grid-template-columns: repeat(18, 1fr);

            .left-pane {
                grid-column: span 6;
                display: flex;
                flex-direction: column;
                padding: 1rem;
                border-right: 1px solid red;

                .studio-selection-container {
                    display: flex;
                    flex-direction: column;
                    margin-bottom: 1rem;
                }
            }
            .right-pane {
                grid-column: span 12;
                display: flex;
                flex-direction: column;
                .upper-section {
                    display: grid;
                    grid-template-columns: repeat(12, 1fr);
                    .calendar-container {
                        padding: 1rem;
                        grid-column: span 8;
                        display: flex;
                        flex-direction: column;
                        h4 {
                            margin-bottom: 1rem;
                        }
                    }
                    .available-times {
                        grid-column: span 4;
                        display: flex;
                        flex-flow: column;
                        padding: 1rem;
                        width: 100%;
                        align-items: center;
                        p {
                            font-weight: 500;
                            font-size: 1rem;
                            line-height: 1.5;
                            letter-spacing: 0.00938em;
                        }
                    }
                }
                .lower-section {
                    padding: 0 1rem;
                    .selection-container {
                        display: flex;
                        flex-direction: column;
                        flex-wrap: wrap;
                    }
                }
            }
        }

        .select-time-btn {
            border: 1px solid red;
            border-radius: 9px;
            color: red;
            margin-bottom: 4px;
            padding: 0.25rem 0.5rem;
            width: 100%;
        }
        .select-time-btn.selected {
            background-color: red;
            color: white;
        }
        .selected-time {
            border: 1px solid red;
            border-radius: 9px;
            background-color: red;
            color: white;
            margin-bottom: 4px;
            padding: 0.25rem 0.5rem;
            width: fit-content;
        }
    }

    .select-field {
        border: 2px solid red;
        border-radius: 9px;
        width: 14rem;
        padding: 8px 8px;
        &:focus {
            outline: none;
            border: 2px solid red;
            border-radius: 9px;
        }
    }

    @include page-dist('margin-left', 'left');
    @include page-dist('margin-right', 'right');

    @include grid-dist('padding-left', 1);
    @include grid-dist('padding-right', 1);

    .MuiPickersDay-root {
        color: red;
    }

    .Mui-disabled {
        color: rgb(192, 188, 188);
    }
    .MuiPickersDay-today {
        background-color: white;
        border: 1px solid red;
    }
    .Mui-selected {
        background-color: red;
        color: white;
    }
    .MuiPickersDay-today.Mui-selected {
        background-color: red;
        color: white;
    }
    .MuiDayCalendar-weekDayLabel {
        color: red;
    }

    .MuiDayCalendar-header {
        justify-content: space-between;
    }

    .MuiDayCalendar-weekContainer {
        justify-content: space-between;
    }
    .MuiSvgIcon-root.MuiSvgIcon-fontSizeInherit.css-1vooibu-MuiSvgIcon-root {
        path {
            color: red;
        }
    }

    // Header
    .css-nk89i7-MuiPickersCalendarHeader-root {
        padding-left: 14px;
        padding-right: 0;
    }

    // Calendar height
    .css-1q04gal-MuiDateCalendar-root {
        height: 340px;
    }
}
