@import "./__mixins.scss";
@import "./__stripes.scss";

.imprint_footer {
  border-width: 1px 0 0 0;
  border-style: solid;

  @include page-dist("padding-left", "left");
  @include page-dist("padding-right", "right");
  @include page-dist("padding-top", "top");
  @include page-dist("padding-bottom", "bottom");  

  display: grid;
  grid-template-columns: repeat(12, 1fr);
  grid-template-rows: 1fr;
  @include grid-gap;

  @include breakpoint('xs') {
    grid-template-columns: 1fr auto;
  }

  & > * {
    grid-row: 1;
  }

  .content_left, .content_right {
    margin-top: 2em;
    margin-bottom: 3em;
    @include font-fliesstext-s;

    img {
      min-width:  80px;
      min-height: 80px;
      width: 10vw;
      height: 10vw;
      object-fit: contain;
      float: left;
    }
  }

  .stripes_left {
    grid-column: 1 / span 2;

    @include breakpoint('xs') {
      grid-column: 1;
      grid-row: 1;
      span:not(:first-child) {
        display: none;
      }
    }
  }

  .content_left {
    grid-column: 3 / span 4;

    @include breakpoint('xs') {
      grid-column: 1;
      grid-row: 2;
      margin-top:0;
      margin-bottom: 0;
    }
  }

  .stripes_mid {
    grid-column: 7 / span 2;

    @include breakpoint('xs-min','min') {
      [data-logo] {
        display: none;
      }
    }
    
    @include breakpoint('xs') {
      grid-column: 1;
      grid-row: 3;

      span:not(:first-child) {
        display: none;
      }
    }    
    
  }

  .stripes_logos {
    @include breakpoint('xs-min','min') {
      display: none;
    }
    @include breakpoint('s') {
      grid-column: 2;
      grid-row: 1 / span 5;
    }
  }

  .content_right {
    grid-column: 9 / span 3;

    @include breakpoint('xs') {
      grid-column: 1;
      grid-row: 4;
      margin-top:0;
      margin-bottom: 0;
    }
  }

  .stripes_right {
    grid-column: 12 / span 1;
    text-align: right;

    @include breakpoint('xs') {
      grid-column: 1;
      grid-row: 5;
      flex-direction: row;
      justify-content: flex-start;
      [data-text] {
        padding-right: 12px;
      }
    }
  }  

}