@import "./__mixins.scss";

#language_switcher {
  @include font-language-select;
  li.active, li.active a {
    font-style: italic;
  }
}

.horizontal_bar_container {

  @include flex-row;
  @include font-stripes;

  display: grid;
  grid-template-columns: repeat(12, 1fr);
  @include grid-gap;

  .horizontal_bar_left {
    grid-column: 1 / span 6;
    a:hover, a:active {
      text-decoration: none;
    }
  }

  .horizontal_bar_center {
    grid-column: 7 / span 3;
    button { 
      display: none;
      
      @include breakpoint('s') {
        transform: translateX(-50%);
      }
      outline: none;
    };
    @include breakpoint('s') {
      > a {display: none;}

      @include mobile-language-switcher;

      button.open {
        display: initial;
      } 
      body.menu_open & {
        button.close {
          display: initial;
        }
        button.open {
          display: none;
        }        
      }
      body[data-menu-item-key="start"] & {
        button {
          display: none;
        }
      }
      body.featured_visible[data-section="buehne"]:not(.menu_open) & {
        button.open path {
          stroke: white;
        }    
      }
    }
  }

  .horizontal_bar_right {
    grid-column: 10 / span 3;
    display: flex;
    justify-content: flex-end;
  }
}

header {
  position: fixed;
  top:0;
  z-index: 11;
  background-color: white;
  body.featured_visible:not(.menu_open) & {
    background-color: transparent;
  }
  body.featured_visible[data-section="buehne"]:not(.menu_open) & {
    color: white;
  }
  transition: background-color 0.2s;
  //overflow: hidden;

  height: $header-height;
  box-sizing: border-box;

  padding-top: 12px;
  padding-bottom: 12px;

  @include page-dist("padding-left", "left");
  @include page-dist("padding-right", "right");

  img {
    height: $header-height-logo;
  }

}
