@import "./__mixins.scss";

.side_menu {
  position: fixed;
  z-index:20;
  @include page-dist("left", "left");
  top: 50%;
  transform: translateY(-50%);
  @include font-stripes;
  a {
    background-color: white;
    line-height: 1.2em;
    margin: -0.1em 0;
    padding-right: .4ex;
    display: inline-block;
  }

  @include breakpoint('s') {
    display: none;
  }
}

// [class^=module]:first-of-type {
//   .grid_image img {
//     position: relative;
//   }
// }