@import "./__variables.scss";
@import "./__mixins.scss";

.single-event-page, .single-person-page {
  position: absolute;
  z-index: 15; // place above menu
  background-color: white;
  top:0;
  min-height: 100%;
  @include page-dist("padding-top", "top");

  .overlay {
    position: fixed;
    top:0;
    left:0;
    right:0;
    bottom:0;
    z-index: 15;
    pointer-events: none;

    a, .stripes_vertical {
      pointer-events: auto;
    }

    @include page-dist("padding-left", "left");
    @include page-dist("padding-right", "right");
    @include page-dist("padding-top", "top");
    @include page-dist("padding-bottom", "bottom");
    box-sizing: border-box;

    display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-template-rows: 1fr;
    @include grid-gap-dist("grid-gap");

    .stripes_left {
      grid-column: 1 / span 1;
    }

    .stripes_mid {
      grid-column: 7 / span 2;
      grid-row: 1;
    }  

    .image {
      grid-column: 9 / span 3;
      grid-row: 1;
      margin: auto; // center
      figure, img {
        width: 100%;
      }
      .button {
        position: absolute;
        margin-bottom: 1em;
        @include page-dist("bottom", "bottom");
      }
    }

    .stripes_right {
      grid-column: 12 / span 1;
      text-align: right;
      :before {
        float: right;
      }
    }

  }

  .info {
    @include grid-col-gap-dist("padding-left", 1, 1, "left");
    @include grid-col-gap-dist("padding-right", 6, 6, "right");
    box-sizing: border-box;

    @include font-fliesstext-m;

    h4:before {
      content: "↪\a0";
    }

    > * {
      margin-bottom: 24px;
    }

    .events li {
      @include font-fliesstext-l;
      display: inline-block;
      padding: 5px;
      border-width: 1px;
      border-style: solid;
      border-radius: 5px;
      + li {
        margin-top: 6px;
      }
    }
  }  
}