@import "./__variables.scss";
@import "./__mixins.scss";

.single-event-page, .single-person-page {
  position: absolute;
  z-index: 15; // place above menu
  background-color: white;
  top:0;
  min-height: 100%;
  @include page-dist("padding-top", "top");

  .overlay {
    position: fixed;
    top:0;
    left:0;
    right:0;
    bottom:0;
    z-index: 15;
    pointer-events: none;

    a, .stripes_vertical {
      pointer-events: auto;
    }

    @include page-dist("padding-left", "left");
    @include page-dist("padding-right", "right");
    @include page-dist("padding-top", "top");
    @include page-dist("padding-bottom", "bottom");
    box-sizing: border-box;

    display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-template-rows: 1fr;
    @include grid-gap-dist("grid-gap");

    .stripes_left {
      grid-column: 1 / span 1;
    }

    .stripes_mid {
      grid-column: 7 / span 2;
      grid-row: 1;
    }  

    .image {
      grid-column: 9 / span 3;
      grid-row: 1;
      margin: auto; // center
      figure, img {
        width: 100%;
      }
    }

    .signup {
      @include font-fliesstext-s;
      grid-column: 9 / span 3;
      grid-row: 1;
      @include page-dist("bottom", "bottom");
      position: absolute;
      width: 100%;
      text-align: left;
      .button {
        margin-bottom: 2em;
      }
      .button + * {
        margin-top: -1em;
        //position: relative;
        //left: 50%;
        //transform: translateX(-50%);
      }
    }    


    .stripes_right {
      grid-column: 12 / span 1;
      text-align: right;
      :before {
        float: right;
      }
    }

  }

  .info {
    @include grid-col-gap-dist("padding-left", 1, 1, "left");
    @include grid-col-gap-dist("padding-right", 6, 6, "right");
    box-sizing: border-box;

    @include font-fliesstext-m;

    h4 {
      margin-bottom: 12px;
      &:before {
        content: "↪\a0";
      }
    }

    .type {
      @include font-stripes;
    }

    .bio {
      @include font-fliesstext-s;
      margin-bottom: 30px;
    }

    > * {
      margin-bottom: 24px;
    }

    .trix-content {
      p + p > small:first-child { // this is a vintage case in imported data
        display: block;
        padding-top: 1em;
      }
    }

    .moments {
      @include font-stripes-infos;
      border-style: solid;
      border-width: 1px 0 1px 0;
      padding: 12px 0 12px 0;
      // @include grid-col-gap-dist("padding-left", 1,1);

      display: grid;
      grid-template-areas: "a a a";
      grid-auto-columns: min-content;
      grid-column-gap: 1em;

      li, time {
        display: contents;
        span {
          white-space: nowrap;
          &:first-child {
            padding-right: 1em;
          }
        }
      }

    }

    .events li {
      @include font-fliesstext-m;
      display: inline-block;
      padding: 5px;
      border-width: 1px;
      border-style: solid;
      border-radius: 5px;
      + li {
        margin-top: 6px;
      }
    }

    .image {
      position: absolute;
      width: 100%;
      //background: red;
      left:0;
      right:0;
      @include grid-col-gap-dist("padding-right", 1,1,"right");
      @include grid-col-gap-dist("padding-left", 8,7, "left");
      box-sizing: border-box;
      top: 50vh;
      transform: translateY(-50%);


      grid-column: 9 / span 3;
      grid-row: 1;
      margin: auto; // center
      figure, img {
        width: 100%;
        @include font-fliesstext-s;
      }
    }

  }  
}