@import "./__mixins.scss";

:root{
  --start-font-size-large: 200px;
  --mobile-menu-enabled: 0;
  --start-font-line-factor: 0.78; // ration font-size to block height
  @include breakpoint('s') {
    --start-font-size-large: 19.5vw;
    --mobile-menu-enabled: 1;
    --start-font-size-large-passive: 40px;
  }
}

body[data-menu-item-key="start"] #main_nav {

  user-select:none;

  font-weight: $font-weight-semibold;
  text-transform: uppercase;

  /*height: calc(100vh - #{$header-height});
  position: fixed;
  width: 100%;*/
  margin-top: $header-height;
  height: calc( 100vh - #{$header-height});
  box-sizing: border-box;
  @include debug(yellow);
  //@include page-dist("padding-top", "top");

  display: flex;
  flex-direction: column;
  justify-content: space-around;

  > ul, 
  > ul > li,
  > ul > li > ul {
    height: 100%;
  }

  > ul > li > ul > li {

    @include breakpoint('s-min', 'min') {
      min-height: var(--start-font-size-large);
    }
    height: 33.3333%;
    
    box-sizing: border-box;
    @include debug(#f0f5);
    transition: all 0.35s;

    display: flex;
    align-items: center;
    justify-items: center;
    justify-self: center;

      
    border: solid 1px $color-red;
    border-width: 0 0 1px 0;
    &:last-child {
      border:none;
    }

    padding-left: 12px;

    > a { // HUGE LETTERS
      font-weight: $font-weight-semibold-eps51;
      font-size: var(--start-font-size-large);
      letter-spacing: -10px;
      line-height: 100%;
      display: block;

      @include outline;

      text-decoration: none;

      &:hover, &:active {
        color: $color-red;
        text-shadow: none;
      }
    }

    @include breakpoint('s-min', 'min') {
      ul, ul a { // Submenu typography
        color: $color-red;
        font-size: 16px;
        line-height: 20px;
      }

      ul { // submenu
        display: flex;
        flex-direction: column;
        justify-content: flex-end;
        margin-left: 1.5em;
        height: calc( var(--start-font-line-factor) * var(--start-font-size-large));
        box-sizing: border-box;
        @include debug(#ff05);
        //padding-bottom: calc( 20px + 0.5 * ( 100% - var(--start-font-size-large) ) );

        ul {
          display: none;
        }
      }
    }

  }


  // MOBILE
  @include breakpoint('s') {

    // BASE STATE
    > ul > li > ul > li {
      a { // HUGE LETTERS
        color: $color-red;
        letter-spacing: 0;
        text-shadow: none;
        text-align: center;
        width: 100%;
        padding-right: 12px;
        display: block;
      }
      ul {
        display: none;
      }
    }

    // SELECTED
    > ul > li.selected > ul > li {

      &.selected {
        height: calc( 100% - ( 2 * ( var(--start-font-size-large-passive) / var(--start-font-line-factor) ) ) );
        //height: auto;
        flex-direction: column;
        place-items: stretch;
      }

      &:not(.selected) {
        height: calc(  var(--start-font-size-large-passive) / var(--start-font-line-factor) );
      }

      &:not(.selected) a { // HUGE LETTERS not selected
        @include outline;
        font-size: var(--start-font-size-large-passive);
      }

      &.selected ul {
        display: block;
        
        ul {
          padding-left: 50px;
        }

        li, a { // Submenu typography
          color: $color-red;
          font-size: 28px;
          line-height: 38px;
          text-align: left
        }
      }

    }

  }

}

