@import "./__mixins.scss";

:root{
  --start-font-size-large: 200px;
}

body[data-menu-item-key="start"] #main_nav {
  font-weight: $font-weight-semibold;
  text-transform: uppercase;

  /*height: calc(100vh - #{$header-height});
  position: fixed;
  width: 100%;*/
  margin-top: $header-height;
  height: calc( 100vh - #{$header-height});
  box-sizing: border-box;
  @include debug(yellow);
  //@include page-dist("padding-top", "top");

  display: flex;
  flex-direction: column;
  justify-content: space-around;

  > ul, 
  > ul > li,
  > ul > li > ul {
    height: 100%;
  }

  > ul > li > ul > li {


    height: 33.3333%;
    min-height: var(--start-font-size-large);
    @include debug(#f0f5);
    display: flex;
    align-items: center;
    justify-items: center;
    justify-self: center;;
    
    border: solid 1px $color-red;
    border-width: 0 0 1px 0;
    &:last-child {
      border:none;
    }

    padding-left: 12px; // guessword based on appearance -> TODO depend on vw too

    > a { // HUGE LETTERS
      font-weight: $font-weight-semibold-eps51;
      font-size: var(--start-font-size-large);
      letter-spacing: -10px;
      line-height: 100%;
      display: block;

      color: white;
      text-shadow:
        -1px -1px 0 $color-red,  
        1px -1px 0 $color-red,
        -1px 1px 0 $color-red,
        1px 1px 0 $color-red;

      text-decoration: none;

      &:hover, &:active {
        color: $color-red;
        text-shadow: none;
      }
    }

    ul, ul a { // Submenu typography
      color: $color-red;
      font-size: 16px;
      line-height: 20px;
    }

    ul { // submenu
      display: flex;
      flex-direction: column;
      justify-content: flex-end;
      margin-left: 1.5em;
      height: calc( 0.78 * var(--start-font-size-large)); //.78 is the height of capital letter vs line height
      box-sizing: border-box;
      @include debug(#ff05);
      //padding-bottom: calc( 20px + 0.5 * ( 100% - var(--start-font-size-large) ) );
    }

  }

}