@import "./__variables.scss";
@import "./__mixins.scss";

body[data-menu-item-key="start"] #main_nav {
  font-weight: $font-weight-semibold;
  text-transform: uppercase;

  /*height: calc(100vh - #{$header-height});
  position: fixed;
  top: $header-height;
  width: 100%;*/
  margin-top: $header-height;
  @include page-dist("padding-top", "top");

  display: flex;
  flex-direction: column;
  justify-content: space-around;

  > ul > li > ul > li {

    display: flex;
    
    border: solid 1px $color-red;
    border-width: 0 0 1px 0;
    &:last-child {
      border:none;
    }

    padding-left: 12px; // guessword based on appearance -> TODO depend on vw too

    > a { // HUGE LETTERS
      font-size:15vw;
      line-height:15vw;
      display: block;

      color: white;
      text-shadow:
      -1px -1px 0 $color-red,  
        1px -1px 0 $color-red,
        -1px 1px 0 $color-red,
        1px 1px 0 $color-red;

      text-decoration: none;

      &:hover, &:active {
        color: $color-red;
        text-shadow: none;
      }
    }

    ul, ul a { // Submenu typography
      color: $color-red;
      font-size: 1.4vw;
      line-height: 1.4vw * 1.25;
    }

    ul { // submenu
      display: flex;
      flex-direction: column;
      justify-content: flex-end;
      margin-left: 1em;

      > li {
        position: relative;
        bottom: 1.5vw;
      }
    }

  }

}