@import './_mixins';

.trix-content {
  p + p > small:first-child {
    display: block;
    padding-top: 1.5em;
    @include font-fliesstext-s;
  }
  br:last-child { // corresponds to the extra <br> that trix creates
    display: block;
    height: 1em;
  }
}