S3_TANZFABRIK_BUCKET=tanzfabrik-local
S3_KEY=development
S3_SECRET=development
S3_MINIO_HOSTNAME=localhost:9000        # leave empty for AWS
S3_MINIO_ENDPOINT=http://minio:9000     # leave empty for AWS
S3_PATH_STYLE=true                      # leave empty for AWS
AWS_REGION=eu-central-1