<div class="module__accordeon_element" data-border-bottom="<%= content_module.border_bottom%>">

  <details class="drawer">
    <summary><%= content_module.headline %></summary>
    <div class="content"><%= content_module.rich_content_1 %></div>
  </details>

</div>
