<section class="module__content_element_magazine" data-section="<%= content_module.section %>" data-style-option="<%= content_module.style_option %>" data-border-bottom="<%= content_module.border_bottom%>">
  
  <div class="text">

    <%#= content_module.inspect %>

    <% if content_module.rich_content_1 %>
      <div class="rich_content_1">
        <%= content_module.rich_content_1 %>
      </div>
    <% end %>

  </div>

</section>

