<%#
#festivals = Festival.no_draft.select { |f| f.events.length > 0 && f.end_date >= Date.today }.sort { |a,b| b <=> a } 
#
#festivals.each do |festival|
#  content_module = ContentModule.new(:parameter => festival.id)
#  render partial: "/content_modules/festival_vorschau", locals: {content_module: content_module}
#  a "zur Festival-Seite", :href => page_url(festival.page)
#end
%>

<div class="module__festival_archiv">

  <h2 class="archive-headline"><%= t(:past_events)%></h2>

  <%

  # get festivals in the past
  past_festivals = Festival.no_draft.select { |f| f.events.length > 0 && f.end_date && f.end_date < Date.today }.sort { |a,b| b <=> a } 
  %>

  <ul class="archive-links">
  <%  past_festivals.each do |festival| %>

    <% if content_module.parameter == "" || !content_module.parameter || (content_module.parameter && content_module.parameter == festival.section) %>

    <li>
      <% if festival.page %>
        <a href="<%= page_url(festival.page)%>"><h3><%= festival.name %></h3></a>
      <% else %>
        <h3><%= festival.name %></h3>
      <% end %>

    </li>

    <% end %>

  <% end %>
  </ul>

</div>