<h1><%= content_module.headline %></h1>

<a class="oembed" href="<%= content_module.parameter %>">video link</a>

<a class="button" href="<%= content_module.link_href %>"><%= content_module.link_title %></a>


