<div class="module__video" data-border-bottom="<%= content_module.border_bottom%>">
  <h3 class="headline">
    <span><%= content_module.headline %></span>
    <%= render :partial => "content_modules/_button", :locals => { :obj => content_module } %> 
  </h3>

  <%= render :partial => "content_modules/video_embed", :locals => { :content_module => content_module } %>
</div>