<div class="module__vorschalt" data-section="<%= content_module.section %>">

  <% if content_module.custom_html %>
    <ul class="vorschalt">
      <% content_module.custom_html.split("\n").each do |line|  %>
        <li>
          <%= line %>
        </li>
      <% end %>
    </ul>
  <% end %>

  </div>