<% if admin_user_signed_in? %>
    <p id="edit_link">
        <%= link_to "Editieren", "/editor/" + @page.slug, id: "edit_link" %>
        <%= link_to "Admin-Bereich", admin_root_path %>
    </p>
<% end %>
