<div class="page">

    <%= render :partial => "/navigation/tree", :locals => { :withNavigation => true } %>

    <%= render "/navigation/sidemenu" %>


    <main id="main-content" style="display: contents">

        <%= render "/pages/content_modules" %>

    </main>

</div>

<%= render "/pages/footer" %>