<main class="page">
  
    <%= render :partial => "/navigation/tree", :locals => { :withNavigation => true } %>

    <%= render "/navigation/sidemenu" %>

    <%= render "/pages/content_modules" %>

</main>

<%= render "/pages/footer" %>