// SASS variable overrides must be declared before loading up Active Admin's styles.
//
// To view the variables that Active Admin provides, take a look at
// `app/assets/stylesheets/active_admin/mixins/_variables.scss` in the
// Active Admin source.
//
// For example, to change the sidebar width:
// $sidebar-width: 242px;

// Active Admin's got SASS!
@import "~@activeadmin/activeadmin/src/scss/mixins";
@import "~@activeadmin/activeadmin/src/scss/base";

@import "trix/dist/trix";

// Overriding any non-variable SASS must be done after the fact.
// For example, to change the default status-tag color:
//
//   .status_tag { background: #6090DB; }


/* active admin trix integration */

// hide attachment button
/*span.trix-button-group--file-tools {
  display: none
}*/

// display in active admin form
.active_admin {
  form trix-editor {
    margin-left: 20%;
    width: calc(80% - 17px);
    background-color: #fff;
  }
}

// hide and show content module fields
.cm-field-active {

}

.cm-field-hidden {
  display: none;
}

#edit_page .has_many_add {
  display: none;
}

.embedded_preview_container {
  $preview_width: 400px;
  $preview_height: 200px;
  $preview_scale: 0.33333;

  background-color: white;
  overflow: hidden;
  height: $preview_height;
  width: $preview_width;

  mask-mode: luminance;
  mask-image: linear-gradient(0deg, transparent 0%, white 10%, white 90%, transparent 100%);    

  margin-bottom: 1em;
  
  position: relative;

  .embedded_preview_link {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    &:hover {
      background-color: rgba(0,0,0,0.02);
    }
  }

  .embedded_preview_small {
    transform: scale($preview_scale); 
    transform-origin: 0 0;
    overflow: hidden;
    width: 1 / $preview_scale * $preview_width;
  }
}