// SASS variable overrides must be declared before loading up Active Admin's styles.
//
// To view the variables that Active Admin provides, take a look at
// `app/assets/stylesheets/active_admin/mixins/_variables.scss` in the
// Active Admin source.
//
// For example, to change the sidebar width:
// $sidebar-width: 242px;

// Active Admin's got SASS!
@import "~@activeadmin/activeadmin/src/scss/mixins";
@import "~@activeadmin/activeadmin/src/scss/base";

@import "trix/dist/trix";

// Overriding any non-variable SASS must be done after the fact.
// For example, to change the default status-tag color:
//
//   .status_tag { background: #6090DB; }


/* active admin trix integration */

// hide attachment button
span.trix-button-group--file-tools {
  display: none
}

// display in active admin form
.active_admin {
  form trix-editor {
    margin-left: 20%;
    width: calc(80% - 17px);
    background-color: #fff;
  }
}

// hide and show content module fields
.cm-field-active {

}

.cm-field-hidden {
  display: none;
}

#edit_page .has_many_add {
  display: none;
}