/**** font declarations ****/

@font-face {
    font-family: 'LuxiMonoBold';
    src: url('/assets/luximb.eot');
    src: url('/assets/luximb.eot') format('embedded-opentype'),
         url('/assets/luximb.woff') format('woff'),
         url('/assets/luximb.ttf') format('truetype'),
         url('/assets/luximb.svg#LuxiMonoBold') format('svg');
}

@font-face {
    font-family: 'LuxiMonoRegular';
    src: url('/assets/luximr.eot');
    src: url('/assets/luximr.eot') format('embedded-opentype'),
         url('/assets/luximr.woff') format('woff'),
         url('/assets/luximr.ttf') format('truetype'),
         url('/assets/luximr.svg#LuxiMonoRegular') format('svg');
}

/*
	@font-face {
	    font-family: 'LuxiMonoBoldOblique';
	    src: url('/assets/luximbi.eot');
	    src: url('/assets/luximbi.eot') format('embedded-opentype'),
	         url('/assets/luximbi.woff') format('woff'),
	         url('/assets/luximbi.ttf') format('truetype'),
	         url('/assets/luximbi.svg#LuxiMonoBoldOblique') format('svg');
	}

	@font-face {
	    font-family: 'LuxiMonoOblique';
	    src: url('/assets/luximri.eot');
	    src: url('/assets/luximri.eot') format('embedded-opentype'),
	         url('/assets/luximri.woff') format('woff'),
	         url('/assets/luximri.ttf') format('truetype'),
	         url('/assets/luximri.svg#LuxiMonoOblique') format('svg');
	}
*/