/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require application_fonts
 *= require_self
 *= require bootstrap-wysihtml5/b3
 *= require non-responsive
 */

/**** Bootstrap setup ****/

$font-family-base: "Roboto";
$grid-columns: 6; /* column width: 144px */;
$grid-gutter-width: 16;

/*
$screen-xs: 1024px;
$screen-sm: 1024px;
$screen-md: 1024px;
$screen-lg: 1024px;

$container-margin: 16; // margin left and right, so the vertical menu can fit in

$container-tablet:             ((960px + $grid-gutter-width));
$container-desktop:            ((960px + $grid-gutter-width));
$container-large-desktop:      ((960px + $grid-gutter-width));
*/

@import "bootstrap";
@import "editable/bootstrap-editable";
@import "editable/inputs-ext/bootstrap-wysihtml5";
@import "editable/inputs-ext/wysiwyg-color";

/**** Variables ****/

$menu-font-family: "LuxiMonoBold";
$menu-font-letter-spacing: 2px;

/**** Layout ****/

#header, #main {
	@include make-row();
}

#logo {
	@include make-xs-column(1);
}

#top-menu {
	@include make-xs-column(5);
}

/**** test ****/

.test {
	@include make-row();
}

#header {
	margin-bottom:40px;
}

.test .c1 {
	@include make-xs-column(1);
}

.test .c2 {
	@include make-xs-column(2);
}

.test .c5 {
	@include make-xs-column(5);
}

.test .c10 {
	@include make-xs-column(10);
}

.test div {
	background-color: gray;
	text-align:center;
	border: solid black 1px;
}

/**** background ****/

#main:after, #main:before {
	position:fixed;
	top:0;
	left:0;
	width:100%;
	height:100%;
}

#main:after {
	z-index:-2;
	background: url("http://www.ruhrnachrichten.de/storage/pic/mdhl/artikelbilder/lokales/mz-mlz-evz-gz/mslo/msfe/2844603_3_111129ms-ku-tanzFoto_275_a.jpg?version=1387197953");
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
}

#main:before {
	z-index:-1;
	/* IE9 SVG, needs conditional override of 'filter' to 'none' */
	background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2ZmZmZmZiIgc3RvcC1vcGFjaXR5PSIwLjk1Ii8+CiAgICA8c3RvcCBvZmZzZXQ9IjElIiBzdG9wLWNvbG9yPSIjZmZmZmZmIiBzdG9wLW9wYWNpdHk9IjAuOTciLz4KICAgIDxzdG9wIG9mZnNldD0iMTAwJSIgc3RvcC1jb2xvcj0iI2ZmZmZmZiIgc3RvcC1vcGFjaXR5PSIwLjQxIi8+CiAgPC9saW5lYXJHcmFkaWVudD4KICA8cmVjdCB4PSIwIiB5PSIwIiB3aWR0aD0iMSIgaGVpZ2h0PSIxIiBmaWxsPSJ1cmwoI2dyYWQtdWNnZy1nZW5lcmF0ZWQpIiAvPgo8L3N2Zz4=);
	background: -moz-linear-gradient(top,  rgba(255,255,255,0.95) 0%, rgba(255,255,255,0.97) 1%, rgba(255,255,255,0.41) 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(255,255,255,0.95)), color-stop(1%,rgba(255,255,255,0.97)), color-stop(100%,rgba(255,255,255,0.41))); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  rgba(255,255,255,0.95) 0%,rgba(255,255,255,0.97) 1%,rgba(255,255,255,0.41) 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  rgba(255,255,255,0.95) 0%,rgba(255,255,255,0.97) 1%,rgba(255,255,255,0.41) 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  rgba(255,255,255,0.95) 0%,rgba(255,255,255,0.97) 1%,rgba(255,255,255,0.41) 100%); /* IE10+ */
	background: linear-gradient(to bottom,  rgba(255,255,255,0.95) 0%,rgba(255,255,255,0.97) 1%,rgba(255,255,255,0.41) 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f2ffffff', endColorstr='#69ffffff',GradientType=0 ); /* IE6-8 */
}

/**** Top Menu: Logo ****/

#logo {
	display:block;
	position:relative;
	min-height:130px;}

#logo img {
	display:block;
	position:absolute;
	top:0;
	left:0;
	width:120px;
	height:130px;	
	transition: opacity 0.2s linear;
}

#logo img:nth-child(1) {
	opacity:1;
}

#logo img:nth-child(2) {
	opacity:0;
}

#logo:hover img:nth-child(1) {
	opacity:0;
}

#logo:hover img:nth-child(2) {
	opacity:1;
}


/**** Top Menu: Navigation ****/

ul.navigation {
  list-style-type:none;
  font-family: $menu-font-family;
  letter-spacing: $menu-font-letter-spacing;
  text-transform:uppercase;  
}

ul.navigation, ul.navigation ul, ul.navigation li {
  list-style-type:none;
  margin:0;
  padding:0;
}

ul.navigation li { 
	cursor: pointer;
	white-space:nowrap; 
}

/* level 1 */
ul.navigation > li {
  float:left;
  clear:both;
}

ul.navigation > li span {
  min-width:80px;
  display: inline-block;
}

/* level 2 */
ul.navigation > li > ul {
  display:inline-block;
  vertical-align: bottom;
}

ul.navigation > li > ul > li {
  float:left;
  position:relative;
  padding-right:1em;
}

/* level 3 */
ul.navigation > li > ul > li > ul {
  float:left;
  position: absolute;
}

ul.navigation > li > ul > li > ul > li {
  text-transform:none;
}

/**** navigation animation **/

ul.navigation > li > ul > li > ul {
  display: none; 
}


ul.navigation > li > ul > li:hover > ul {
	  display: block;
	  z-index: 100; 
}

ul.navigation:hover ul {
  opacity: 0; 
 }

ul.navigation:hover > li:hover * {
  opacity: 1; 
 }

ul.navigation, ul.navigation ul, ul.navigation li {
  transition: opacity 0.2s;
}

/**** main ****/

#main {
	clear:both;
}