/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require non-responsive
 */

@import "bourbon";

/**** Load Fonts ****/

@include font-face(LuxiMonoBold, 'luximb-webfont-westernlatin', bold, normal, $asset-pipeline: true);
/*
@include font-face(LuxiMonoRegular, 'luximr-webfont', normal, normal, $asset-pipeline: true);
@include font-face(LuxiMonoOblique, 'luximri-webfont', normal, italic, $asset-pipeline: true);
@include font-face(LuxiMonoBoldOblique, 'luximbi-webfont', bold, italic, $asset-pipeline: true);
*/

/**** Bootstrap setup ****/

$font-family-base: "Roboto";
$grid-columns: 6; /* column width: 144px */
$grid-gutter-width: 16px;

$brand-primary:         #F50015;
/*
$brand-success:         #5cb85c !default;
$brand-info:            #5bc0de !default;
$brand-warning:         #f0ad4e !default;
$brand-danger:          #d9534f !default;
*/

$link-color:            black;
$link-hover-color:      $brand-primary;

/*
$screen-xs: 1024px;
$screen-sm: 1024px;
$screen-md: 1024px;
$screen-lg: 1024px;

$container-margin: 16; // margin left and right, so the vertical menu can fit in

$container-tablet:             ((960px + $grid-gutter-width));
$container-desktop:            ((960px + $grid-gutter-width));
$container-large-desktop:      ((960px + $grid-gutter-width));
*/

@import "bootstrap";
@import "editable/bootstrap-editable";
@import "editable/inputs-ext/bootstrap-wysihtml5";
@import "editable/inputs-ext/wysiwyg-color";

/**** Variables ****/

$vertical-menu-width: 500px;
$overall-container-margin: 32px; /* margin for vertical secondary menu */
$admin-link-color: #0088cc;
$line-height: 1.4em;
$vertical-box-padding: 0.3em;

/**** General Styles ****/

h1,h2,h3,h4 {
	margin:0;
	padding:0;
}

a:hover, a:focus {
		text-decoration: none;
		cursor: pointer;
}

#content {
	line-height: $line-height;
	font-size: 1em;
}

.admin-nav {
	float:right;
	padding: 1em 0 1em 1em;

	a {
		padding-right: 1em;
	}

	a:last-child {
		padding-right:0;
	}
}

.admin-only a, a.admin-only {
	color:$admin-link-color;
}

a abbr {
	cursor:pointer;
	border:none;
}

.open-close-shade {
	position:relative;
}

.open-close-shade.shaded {
	/*opacity:0.4;*/
}

/* fades table behind opened description popup */
.shaded td > * > *:not(.opened), 
.shaded th, 
.shaded dl, 
.shaded :empty {
  opacity:0.3;
}

ul, li {
	margin:0;
	padding:0;
	list-style-type: none;
}

/**** Mixins ****/

@mixin menu-font($font-size) {
	font-family: "LuxiMonoBold", Georgia, serif;
	letter-spacing: 2px;
	font-size: $font-size;
}

@mixin border-line($border-position, $border-color) {
	content: " ";
	display:block;
	@if $border-position == "top" {
		border-top:1px solid $border-color;
	}
	@else {
		border-bottom:1px solid $border-color;
	}
}

/**** Layout rows/columns ****/

#header, #headlines {
	@include make-row();
}

#language-logo {
	@include make-xs-column(1);
}

#top-menu {
	@include make-xs-column(5);
}

.basic {
	@include make-xs-column(4);
	@include make-xs-column-push(2);
}

.details {
	@include make-xs-column(2);
	@include make-xs-column-pull(4);
}

/**** Layout spacing/position ****/

body {
	min-height: $vertical-menu-width;
}

#overall-container {
	margin: 0 auto;
	padding: 0 $overall-container-margin;
}

#header {
	margin-bottom:40px;
	position:relative;
}

#content-container {
	overflow:hidden;
	width:100%;
	position:relative;
}

/**** background ****/

.site-background:after, .site-background:before {
	position:fixed;
	top:0;
	left:0;
	width:100%;
	height:100%;
}

.site-background:after {
	z-index:-2;
	background: url("http://www.ruhrnachrichten.de/storage/pic/mdhl/artikelbilder/lokales/mz-mlz-evz-gz/mslo/msfe/2844603_3_111129ms-ku-tanzFoto_275_a.jpg?version=1387197953");
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
}

.site-background:before {
	z-index:-1;
	background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2ZmZmZmZiIgc3RvcC1vcGFjaXR5PSIwLjk1Ii8+CiAgICA8c3RvcCBvZmZzZXQ9IjElIiBzdG9wLWNvbG9yPSIjZmZmZmZmIiBzdG9wLW9wYWNpdHk9IjAuOTciLz4KICAgIDxzdG9wIG9mZnNldD0iMTAwJSIgc3RvcC1jb2xvcj0iI2ZmZmZmZiIgc3RvcC1vcGFjaXR5PSIwLjQxIi8+CiAgPC9saW5lYXJHcmFkaWVudD4KICA8cmVjdCB4PSIwIiB5PSIwIiB3aWR0aD0iMSIgaGVpZ2h0PSIxIiBmaWxsPSJ1cmwoI2dyYWQtdWNnZy1nZW5lcmF0ZWQpIiAvPgo8L3N2Zz4=);
	background: -moz-linear-gradient(top,  rgba(255,255,255,0.95) 0%, rgba(255,255,255,0.97) 1%, rgba(255,255,255,0.41) 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(255,255,255,0.95)), color-stop(1%,rgba(255,255,255,0.97)), color-stop(100%,rgba(255,255,255,0.41))); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  rgba(255,255,255,0.95) 0%,rgba(255,255,255,0.97) 1%,rgba(255,255,255,0.41) 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  rgba(255,255,255,0.95) 0%,rgba(255,255,255,0.97) 1%,rgba(255,255,255,0.41) 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  rgba(255,255,255,0.95) 0%,rgba(255,255,255,0.97) 1%,rgba(255,255,255,0.41) 100%); /* IE10+ */
	background: linear-gradient(to bottom,  rgba(255,255,255,0.95) 0%,rgba(255,255,255,0.97) 1%,rgba(255,255,255,0.41) 100%); /* W3C */
}

/**** Top Menu: Language Select ****/

#language-select {
	@include menu-font(90%);
	text-transform: uppercase;
	list-style-type: none;
	width:$vertical-menu-width;
	position: absolute;
	overflow: hidden;
	text-align: right;
	@include transform(translateX(-$vertical-menu-width) rotate(-90deg));
	@include transform-origin(right top);  
  list-style-type: none;
  margin:0;
  padding:0;
}

#language-select li {
  display:inline-block;
}

#language-select li:nth-child(2):before {
  content: "/";
  display:inline-block;
  
}

/**** Top Menu: Logo ****/

#logo {
	clear:both;
	display:block;
	float:right;
	position:relative;
	width: 120px;
	height: 130px;
	}

#logo img {
	display:block;
	position:absolute;
	top:0;
	left:0;
	transition: opacity 0.2s cubic-bezier(0.445, 0.050, 0.550, 0.950);
}

#logo img:nth-child(1) {
	opacity:1;
}

#logo img:nth-child(2) {
	opacity:0;
}

#logo:hover img:nth-child(1) {
	opacity:0;
}

#logo:hover img:nth-child(2) {
	opacity:1;
}


/**** Top Menu: Navigation ****/

ul.navigation {
  @include menu-font(100%);
  list-style-type:none;
  text-transform:uppercase;  
}

ul.navigation, ul.navigation ul, ul.navigation li {
  list-style-type:none;
  margin:0;
  padding:0;
}

ul.navigation li { 
	white-space:nowrap; 
}

/* level 1 */
ul.navigation > li {
  float:left;
  clear:both;
}

ul.navigation > li span {
  min-width:70px;
  display: inline-block;
}

/* level 2 */
ul.navigation > li > ul {
  display:inline-block;
  vertical-align: bottom;
}

ul.navigation > li > ul > li {
  float:left;
  position:relative;
  padding-right:1em;
}

/* level 3 */
ul.navigation > li > ul > li > ul {
  float:left;
  position: absolute;
  padding-bottom: 1em;
}

ul.navigation > li > ul > li > ul > li {
  text-transform:none;
}

/**** navigation interaction **/

ul.navigation li {
	cursor: default;
}

ul.navigation a {
	text-decoration: none;
}

ul.navigation > li > ul a,
ul.navigation:hover > li > span{
  color:black; 
}

ul.navigation > li > span,
ul.navigation > li:hover > span,
ul.navigation > li:hover li:hover,
ul.navigation > li:hover li:hover a:hover {
  color:red; 
}

ul.navigation > li > ul > li > ul {
  display: none; 
}

ul.navigation > li > ul > li:hover > ul {
	  display: block;
	  z-index: 100; 
}

ul.navigation:hover ul {
  opacity: 0; 
 }

ul.navigation:hover > li:hover * {
  opacity: 1; 
 }

ul.navigation, ul.navigation ul, ul.navigation li {
  @include transition(opacity 0.2s);
}

/**** secondary menu ****/

#secondary-menu {
	@include menu-font(87%);
	text-transform: lowercase;
	list-style-type: none;
	width:$vertical-menu-width;
	position: absolute;
	overflow: hidden;
	text-align: right;
	@include transform(translateX(-($vertical-menu-width + $overall-container-margin)) rotate(-90deg));
	@include transform-origin(right top);
	padding-top: 1em;
}

#secondary-menu li {
	display:inline-block;
	padding-left:1em;
}

/**** main ****/

#content {
	clear:both;
}

/**** headlines ****/

#headlines {
	.before {
		@include make-xs-column(2);
	}
	.main {
		@include make-xs-column(5);
		@include make-xs-column-offset(1);
	}
	.before + .main {
		@include make-xs-column-offset(0);
		@include make-xs-column(4);
	}
}

#headlines {

	a.next, a.previous {
		@include menu-font(100%);
	}

	.line1 {
		overflow: hidden;
		line-height: 2em;

		h1 {
			line-height:2em;
		}

		a.next, a.registration {
			float:right;
		}

		a.registration {
			font-size: 90%;
		}		
	}

	.title {
		float:left;
		@include menu-font(100%);
		text-transform: uppercase;
		color:red;
	}

	.line2:before , .line3:before {
		@include border-line(top, black);
	}

	.line2 {
		line-height:2em;

		.open {
			padding-bottom: 0em;
			position:relative;
			overflow: hidden;
			height:0;
			opacity:0;
			@include transition (opacity 0.3s);

			.close-trigger {
				position:absolute;
				right:0;
				bottom:0;
				font-size: 0.8em;
			}

			.close-trigger:hover {
					color:red;
					cursor:pointer;
						
			}	
		}

		.closed {


			:hover {
					color:red;
					cursor:pointer;
			}

			:after {
				content: " >";
				white-space: pre;
			}
		}
	}

	.line2.opened {
		.open {
			padding-bottom: 2em;
			height:auto;
			opacity:1;
		}

		.closed {
			height:0;
			opacity:0;
		}

	}

	.line3 {
		font-size:0.8em;
		line-height:2em;
		padding-bottom:3 * $line-height;

		ul {
			list-style-type: none;
			margin:0;
			padding: 0;

			li {
				float:left;
				margin-right:1em;
			}
		}
	}
}

/**** timetables ****/

.timetable-container {
	@include make-row();

	margin-bottom:2.5em;

	.tags {
		@include make-xs-column(5);
		@include make-xs-column-offset(1);
	}
}

.timetable {
	
	h3, h4 {
		font-size: 1em;
	}

	.title-description {
		position:relative;

		.description {
			position:absolute;
			top:-$vertical-box-padding;
			left:-$grid-gutter-width;
			opacity: 0;
			background-color:#18BEE8;
			width:233%;
			padding: (2 * $line-height + 1em) $grid-gutter-width 0.5em $grid-gutter-width;
			z-index:5;
			font-size:90%;
			display:none;

			.close-trigger {
				font-size: 90%;
				display:block;
				float:right;
				color:white;
				position:relative;
				top: -3.5em;
				cursor:pointer;
			}
		}

		.title:hover {
			cursor: pointer;
			color:#19CBFA;
		}
	}

	.title-description.opened {
		.title {
			position:relative;
			z-index:6;
			color:white;
		}

		.description {
			opacity:1;
			display:block;
		}
	}

}

table.timetable {

	width:100%;

	.day {
		padding: $vertical-box-padding 0;
		@include border-line(bottom, red);
	}

	.studio {

		@include border-line(top, red);
		position:relative;
		top:-1px;
		padding: $vertical-box-padding 0;

		@include menu-font(100%);
		text-transform: uppercase;

		.location-name {
			float:left;
		}

		.studio-name {
			float:right;
		}
	}

	tr {

		th, td {
			@include make-xs-column(1);
		}

		th {
			font-weight:normal;
			color:red;
		}
	}

	.event {
		height: 6 * $line-height + 2 * $vertical-box-padding;
		padding: $vertical-box-padding 0;
		
		@include border-line(bottom, black);
	}
}

ul.timetable {

	.day {
		padding: $vertical-box-padding 0;
		@include border-line(bottom, black);
		color:red;
		font-weight: normal;
	}

	.day.holiday {
		color:black;
	}

	list-style-type: none;
	margin:0;
	padding:0;

	ul {
		list-style-type: none;
		margin:0;
		padding:0;		
	}

	> ul >li {

		@include make-row();
	
		li, .header {
			@include make-xs-column(1);
		}

		.time-week, .day {
			@include border-line(top, red);
		}

	}

	.time-week {
		@include menu-font(100%);
		padding: $vertical-box-padding 0;
		display:block;
		color:red;
	}

	.event {
		padding: $vertical-box-padding 0;
	}

}

.timetable .event {

	.title {
		font-weight: bold;
		line-height: $line-height;
	}
	.teacher{ 
	}
	.warning {
		color:red;
	}
	.course-time {
		font-weight: bold;
	}

	.title {
		height: 2 * $line-height;
		overflow:hidden;
	}

	.teacher, .warning, .time {
		height:$line-height;
		overflow:hidden;
	}		
}


dl.tags {
	font-size: 90%;
	margin: 2 * $vertical-box-padding 0 0 0;
	dt, dd {
		float:left;
		font-weight: normal;
	}
	dt:after {
		content: " = ";
		white-space: pre;
	}
	dd {
		padding-right:1em;
	}
}

/**** general pages ****/

h2 {
	@include menu-font(100%);
	text-transform: uppercase;
}

.basic:before {
	@include border-line(top,black);
}

.details:before {
	@include border-line(top,red);
}

.basic, .details {
	/*padding-top:0.5em;*/
}

.basic {
	.description {
		margin: $vertical-box-padding 0;
	}
}

.details {
	.image-container {
		padding-top: $vertical-box-padding + 0.3em;

		img {
			width:100%;
			padding-bottom:1em;
		}		
	}

	.image-license {
		display:block;
		font-size: 90%;
	}
}

/**** events ****/

.event .details .time-place {
	list-style-type: none;
	margin:0;
	padding:0;
	@include menu-font(90%);

	li {
		border: 0px solid red;
		border-width: 0 0 1px 0;
	}

	time {
		display:block;
		color:red;
	}

	.place {
		display:block;
	}
}

.event .basic {
	.teacher {
		font-size: 0.85em;
		font-weight: 900;
	}
}

.event .content {
	padding: $vertical-box-padding 0;
}

.event-performanceprojekt {
	.title, .teacher {
		display: inline;
	}
	.teacher {
		padding-left:1em;
	}
	.description {
		line-height: $line-height;
		height: 3 * $line-height;
		overflow: hidden;
		margin: 0;
	}
	.more {
		margin-top: -0.1em;
		line-height: $line-height;
	}
	.more:after {
		content: " >";
	}
	.time-duration {
		@include menu-font(100%);
		color:red;
	}
	.info {
		display: table-cell;
		vertical-align: bottom;
		padding-top: $vertical-box-padding;
		height: 4 / 0.9 * $line-height + $vertical-box-padding;
	}
}

/**** teachers ****/

.teachers .basic .description {
	position:relative;
	padding-top:$vertical-box-padding;

	p {
		height:10 * $line-height;
		min-height:10 * $line-height;
		overflow-y: hidden;
	}
}

.teachers .basic .description.opened p {
	height:auto;
}

.teachers .image-container, .teachers .info {
	@include make-xs-column(3);
}

.teachers h3 {
	font-size: 1em;
	font-weight: 700;
	margin:0 0 1em 0;
	padding-top:$vertical-box-padding;
}

.teachers .classes {
	font-size: 0.8em;
}

/**** workshops ****/

.headlines-workshop {

	.line2, .line3 {
		@include make-row();
	}

	.line2 {

		padding-bottom: $vertical-box-padding;

		.details {
			@include make-xs-column(2);

			.time-duration {
				@include menu-font(100%);
				padding-top: $vertical-box-padding;
				color:red;
			}

			.image-container img {
				width:100%;
			}			
		}
		.basic {
			@include make-xs-column(4);
			
			.inline-title {
				padding-top: $vertical-box-padding;
			}

			.title {
				color:red;
				display:inline;
			}

			.info-link, .festival-link {
				padding-left: 1em;
				display:inline;
			}

			.info-link:after, .festival-link:after {
				content: " >";
				white-space: pre;
			}

			.info-link:hover {
				color:red;
				cursor:pointer;
			}

			.close-trigger {
				font-size: 0.8em;
				float:right;
			}

			.close-trigger:hover {
				color:red;
				cursor:pointer;
			}			
		}
	}

	.line3 {
		@include make-xs-column(6);
		@include border-line(top, red);

		font-size:0.8em;
		line-height:2em;
		padding-bottom: $line-height;

		ul {
			list-style-type: none;
			margin:0;
			padding: 0;

			li {
				float:left;
				margin-right:1em;
			}
		}
	}	

	/* interaction */

	.image-container, .description, .close-trigger {
		display:none;
		opacity:0;
		@include transition(opacity 0.2s);
	}

	.opened .image-container, .opened .description, .opened .close-trigger {
		display:block;
		display:initial;
		opacity:1;
	}

}

ul.workshops {

	margin-bottom: 4em;

	.week {
		@include make-row();

		.time-duration {
			@include make-xs-column(1);
			color:red;
			@include menu-font(100%);
		}

		.time-duration:before {
			padding-bottom: $vertical-box-padding;
		}

		.time-duration:before, .classes:before {
			@include border-line(top, red);
		}

		.classes {
			@include make-xs-column(5);

			.class {
				clear:both;
				padding: $vertical-box-padding 0;
				@include border-line(bottom, black);
				overflow:hidden;
			}

			.class:last-child {
				border:none;
			}

			.class a {
				display:block;
			}

			.title {
				font-size: 1em;
				font-weight: bold;
				float:left;
			}
			.teacher {
				float:left;
				padding-left: 1em;
			}
			.class-data {
				float:right;

				> *:not(.time-end) {
					padding-left:1ex;
				}
			}
		}
	}
}




