<% dividers = @page.content_modules.submenu_dividers %>

<% if dividers.length > 0 %>

  <ul class="side_menu">
  
    <% for cm in dividers %>
  
      <li>
        <a href="#<%= cm.parameter.to_s.strip %>">
          <%= cm.headline %>
        </a>
      </li>
  
    <% end %>
  
  </ul>

<% end %>