<ul>
<% tree.each_pair do |k,v| %>

<% 
  should_link = false
  menu_item_name = k.name
  
  # in general, link to pagees
  if k.page
    should_link = true
  end

  # but don't link to the active page and add active
  if @page
    if k.page_id == @page.id
      menu_item_name += " (page active)"
      should_link = false
    end
  end

  # if this menu item is an ancestor of the one we want, mark as active
  if @menu_item
    if @menu_item.ancestor_ids.include? k.id
      menu_item_name += " (section active)"
    end
  end

  # and don't link to the start page in the tree
  if k.key == "start"
    menu_item_name = ""
    should_link = false
  end
%>

<li> <%= should_link ? 
  (link_to menu_item_name, (page_path(k.page) + (k.anchor ? "#" + k.anchor : ""))) 
  : menu_item_name 
  %>

<% if v  && depth < max_depth %>
  <%= render :partial => "navigation/tree_node", :locals => {:tree => v, :depth => depth + 1, :max_depth => max_depth} %>
<% end %>

</li>

<% end %>
</ul>