<!DOCTYPE html>
<html lang="<%= I18n.locale %>">
<head>
  
  <meta charset="utf-8"> 
  <%= favicon_link_tag 'favicon.ico' %>
  
</head>
<body>

  <%= render "/navigation/tree" %>

	<%= yield %>

</body>
</html>
